<main>
    <div class="navSpace"></div>
    <section class="minFit">
        <div class="container mt-4 mb-4">
            <div class="row mb-4">
                <div class="col-sm-12">
                    <h1 class="display-3 fw-normal mb-0 colUpAnim">Skechers</h1>
                    <h3 class="display-6 fw-lighter mb-3 colUpAnim">Lights, comfort, action!</h3>
                    <div class="fs-5 colUpAnim" >
                    <p class="mb-0" >POV handles the composite creative mandate for global sports shoe and apparel major <strong>Skechers</strong> in India. Our work covers advertising, digital/social creativity, design, activation ideas and curating events for the brand. </p>
                    <p class="mb-0" >Over the course of our association with Skechers, we have launched entire categories for the brand Walking, running (+run club), training, as well as leisure, lifestyle & athleisure sub segments.</p>
                </div>
                </div>
            </div>
           
            <div class="row" >
                <div class="col-sm-12" >
                    <div class="ratio ratio-21x9 bg-dark overflow-hidden" >
                        <img src="projects/images/skechers/skechers-img-1.jpg" alt="" class="prxRightToLeft" >
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid g-0 mb-5" >
            <div class="row mb-4 g-0" >
                <div class="col-sm-12" >
                    <div class="container" >
                        <div class="row align-items-center justify-content-between" >
                            <div class="col-auto text-end">
                                <span class="skechers_line prxRightToLeft" ></span>
                            </div>
                            <div class="col-auto text-end" >
                                <h4 class="display-4 text-uppercase mb-0" >TRAIN <strong>STRONG</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-lg-5 mb-5" >
                <div class="col-sm-12 col-md-6" >
                        <div class="ratio ratio-1x1  overflow-hidden" >
                            <img src="projects/images/skechers/skechers-img-2.jpg" alt="" class="colRightAnim cover" >
                        </div>
                </div>
                <div class="col-sm-12 col-md-6" >
                    <div class="ratio ratio-1x1 overflow-hidden" >
                        <img src="projects/images/skechers/skechers-img-3.jpg" alt="" class="colLeftAnim cover" >
                    </div>
            </div>
            </div>
            <div class="row mb-4 g-0" >
                <div class="col-sm-12" >
                    <div class="container" >
                        <div class="row mb-4" >
                            <div class="col-sm-12 text-end" >
                                <div class="ratio ratio-21x9 bg-dark overflow-hidden">
                                    <img src="projects/images/skechers/skechers-img-4.jpg" alt="" class="prxTopToBottom" >
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-sm-12 " >
                                <p class="fs-5" >
                                    For the launch of their global training range,
 POV conceptualized an India specific campaign.
For a bad ass training shoe, the idea was 
fairly simple.

 Put the shoe in a tough training
environment and let the visuals 
speak for themselves.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-lg-5 mb-5 " >
                <div class="col-sm-12" >
                    <div class="ratio ratio-16x9 bg-dark" >
                        <app-player videoSrc="media/test.mp4" posterSrc="media/pov-films.jpg" [playCTA]="true" [muteCTA]="true"></app-player>
                    </div>
                    </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container container_space " >
            <div class="row justify-content-center " >
                <div class="col-sm-12 col-md-12 col-lg-10" >
                    <div class="row gx-lg-5 mb-5 mt-5" >
                        <div class="col-sm-12 col-md-6" >
                            <figure class="prxBottomToTop" >
                                <div class="figureImg mb-3" >
                                    <img src="projects/images/skechers/skechers-img-5.jpg" alt=""  >
                                </div>
                                <figcaption class="p-4" >
                                    <h4 class="display-5 mb-3">BUILDING A HERO ARCHTYPE FOR RUNNING</h4>
                                    <p class="fs-5" >They asked, could we build our own hero rather than piggy backing an established star?</p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-12 col-md-6" >
                            <figure class="prxTopToBottom" >
                                <div class="figureImg mb-3" >
                                    <img src="projects/images/skechers/skechers-img-6.jpg" alt="" >
                                </div>
                                <figcaption class="p-4 text-end" >
                                    <p class="fs-4 mb-0" >Our answer,</p>
                                    <h4 class="display-5 mb-0">Kavita Raut Tungar.</h4>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-white mb-5" style="background-color: #002E52;
;" >
        <div class="container-fluid py-4 py-lg-5" >
            <div class="row mb-3" >
                <div class="col-sm-12 " >
                    <div class="container" >
                        <h2 class="display-7 fw-lighter" >The Result</h2>
                    </div>
                </div>
            </div>

            <div class="row" >
                <div class="col-sm-12" >
                    <app-project-result [results]="[
                        {value:'2.5 MILLION',title:'Impressions over Social Media'},
                        {value:'ABOVE 50%',title:'Engagement Rates'},
                        {value:'TREMENDOUS ORGANIC',title:'WOM & PR TRACTION'},
                        {value:'2.5 MILLION',title:'Impressions over Social Media'},
                        {value:'ABOVE 50%',title:'Engagement Rates'},
                        {value:'TREMENDOUS ORGANIC',title:'WOM & PR TRACTION'}
                        ]" ></app-project-result>
                </div>
            </div>
        </div>
    </section>
    <!-- <section>
        <div class="container">
            <app-suggest-projects></app-suggest-projects>
        </div>
    </section> -->
</main>