<main class="text-white" >
    <div class="navSpace" ></div>
    <section class="bg-dark" >
        <div class="container" >
            <div class="row minInnerFit align-items-center " >
                <div class="col-sm-12 mb-3" >
                  <p class="display-1 fw-bolder mb-0" >/ page</p>
                </div>
                <div class="col-sm-12" >
                    <div class="row justify-content-center " >
                        <div class="col-sm-12 col-md-10 col-lg-6" >
                            <p class="display-5 fw-light mb-0 opacity-50 " ><a routerLink="/" class="link clear " >You seem lost,<br> let’s go back to the fun stuff.</a></p>
                            <p class="display-5 fw-light mb-0 text-end "  ><a routerLink="/" class="link clear" >→</a></p>
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-12 text-end" >
                    <p class="display-1 fw-bolder mb-0" >not found</p>
                  </div>
            </div>
        </div>
    </section>
</main>
