<main>
    <div class="navSpace"></div>
    <section>
        <div class="container container_space ">
            <div class="row my-5">
                <div class="col-sm-12">
                    <h1 class="display-1 fw-lighter lh-small mb-0">
                        We believe,<br>
                        we <span class="colRightAnim d-inline-block" ><strong class="clip-text" >create</strong></span>.
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                        <figure class="projectCard ">
                            <a class="clear link opacity-100 img" routerLink="/work/skechers" >
                                <div class="ratio ratio-21x9 bg-dark"><img src="images/home/banner-3.jpg" srcset="images/home/banner-3.webp" alt=""></div>
                            </a>
                            <figcaption >
                                <a class="clear link opacity-100 img mb-2" routerLink="/work/skechers" >
                                <h3 class="title">Skechers</h3>
                                <p class="description h-auto">We created a voice
                                    POV handles the composite creative 
    mandate for global sports shoe and
     apparel major Skechers in India.
                                </p>
                            </a>
                                 <!-- <ul class="projectCategories" style="pointer-events: none;" >
                                    <li>
                                        <button class="category" >Experiences</button>
                                    </li>
                                    <li>
                                        <button class="category">Digital</button>
                                    </li>
                                    <li>
                                        <button class="category">Innovations</button>
                                    </li>
                                </ul>  -->
                            </figcaption>
                        </figure>
                </div>
            </div>
        </div>
    </section>
 
    <section>
        <div class="container container_space ">
            <div class="row justify-content-center " >
                <div class="col-sm-12 col-md-12 col-lg-10" >
                    <div class="row gx-lg-5">
                        <div *ngFor="let project of visibleProjects" class="col-sm-12 col-md-6 mb-4 fadeOutUp " pAnimateOnScroll enterClass="fadeInUp" leaveClass="fadeOutUp"  >
                            <!-- <a class="clear link opacity-100" routerLink="{{project.exploreUrl}}" >  </a> -->
                                <figure class="projectCard" >
                                    <a class="clear link opacity-100 img" routerLink="{{project.exploreUrl}}" > 
                                        <div class="ratio ratio-4x3 bg-dark ">
                                            <img [src]="project.webp ? project.webp : project.image" alt="{{project.title}}" >
                                        </div>
                                    </a>
                                    
                                    <figcaption>
                                        <a class="clear link opacity-100 mb-2" routerLink="{{project.exploreUrl}}" >
                                        <h3 class="title "> {{project.title}}</h3>
                                        <p class="description">{{project.description}}</p>
                                        </a>
                                        <ul class="projectCategories mt-auto">
                                            <li *ngFor="let category of project.categories" >
                                                <button class="category" [ngClass]="{ 'selected': selectedCategory === category }" (click)="onSelectCategory(category)" >{{category}}</button>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                          
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="visibleProjects.length < filteredProjects.length" >
                <div class="col-sm-12 text-center" >
                    <button class="btn btn-primary text-uppercase" (click)="loadMore()" >Load More <i class="pi pi-arrow-down ms-1" ></i></button>
                </div>
            </div>
        </div>
    </section>
</main>
<app-cursor></app-cursor>