<main>
    <div class="navSpace"></div>
    <section>
        <div class="container container_space ">
            <div class="row my-5">
                <div class="col-sm-12">
                    <h1 class="display-1 fw-lighter lh-small mb-0">
                        We believe,<br>
                        we <span class="colRightAnim d-inline-block" ><strong class="clip-text" >create</strong></span>.
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row mb-4">
                <div class="col-sm-12">
                    <figure class="projectCard bg-dark">
                        <div class="ratio ratio-21x9 bg-dark img"><img src="images/home/banner-3.jpg" alt=""></div>
                        <figcaption class="p-4 p-lg-5" >
                            <h3 class="title">Essence</h3>
                            <p class="description">We created a voice
                                for the brand around Surf
                                , Sand & Luxury. We wanted the message and medium to come together to `tell a story.
                            </p>
                            <p class="text-end">
                                <a routerLink="" class="btn btn-link link">Explore </a>
                            </p>
                        </figcaption>
                    </figure>

                </div>
            </div>
        </div>
    </section>
    <section class="bg-light mb-4">
        <div class="container py-2">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="projectCategories">
                        <li>
                            <button class="category active">All</button>
                        </li>
                        <li>
                            <button class="category">Experiences</button>
                        </li>
                        <li>
                            <button class="category">Digital</button>
                        </li>
                        <li>
                            <button class="category">Innovations</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row gx-lg-5">
                <div class="col-sm-12 col-md-6 mb-4">
                    <figure class="projectCard">
                        <div class="ratio ratio-16x9 bg-dark img"></div>
                        <figcaption>
                            <h3 class="title">Essence</h3>
                            <p class="description">We created a voice
                                for the brand around Surf
                                , Sand & Luxury. We wanted the message and medium to come together to `tell a story.

                            </p>
                            <p class="text-end">
                                <a routerLink="" class="btn btn-link link">Explore </a>
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-12 col-md-6 mb-4">
                    <figure class="projectCard">
                        <div class="ratio ratio-16x9 bg-dark img"></div>
                        <figcaption>
                            <h3 class="title">Essence</h3>
                            <p class="description">We created a voice
                                for the brand around Surf
                                , Sand & Luxury. We wanted the message and medium to come together to `tell a story.

                            </p>
                            <p class="text-end">
                                <a routerLink="" class="btn btn-link link">Explore </a>
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-12 col-md-6 mb-4">
                    <figure class="projectCard">
                        <div class="ratio ratio-16x9 bg-dark img"></div>
                        <figcaption>
                            <h3 class="title">Essence</h3>
                            <p class="description">We created a voice
                                for the brand around Surf
                                , Sand & Luxury. We wanted the message and medium to come together to `tell a story.
                            </p>
                            <p class="text-start">
                                <a routerLink="" class="btn btn-link link">Explore </a>
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-12 col-md-6 mb-4">
                    <figure class="projectCard">
                        <div class="ratio ratio-16x9 bg-dark img"></div>
                        <figcaption>
                            <h3 class="title">Essence</h3>
                            <p class="description">We created a voice
                                for the brand around Surf
                                , Sand & Luxury. We wanted the message and medium to come together to `tell a story.

                            </p>
                            <p class="text-end">
                                <a routerLink="" class="btn btn-link link">Explore </a>
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
</main>
<app-cursor></app-cursor>