
<main>
    <!-- <div class="navSpace" ></div> -->
    <section class="maxFit" >
        <app-work-banner bannerImg="projects/images/essence/essence-banner.jpg" title="Essence" vector="octagon" ></app-work-banner>
    </section>
    <section>
        <div class="container container_space" >
            <div class="row mb-4">
                <div class="col-sm-12">
                    <h1 class="display-3 fw-normal mb-0 colUpAnim">Essence</h1>
                    <h3 class="display-6 fw-lighter mb-3 colUpAnim">Luxury beach wear</h3>
                    <div class="fs-5 colUpAnim" >
                    <p class="mb-0" >Essence was a new-to-market, luxury beach wear brand that was launched for global markets. Designed with an international resort wear audience in mind the range included bikinis, sarongs, kaftans and fashion accessories.
                        Our approach focused on bringing the message and medium to come together to tell a story. Inspired by the name Essence, we captured the ethos of the brand by putting it in its natural environment.</p>
                </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-12 col-md-12 col-lg-6" >
                    <ul class="tag_list" >
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Naming</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Identity</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Retail</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Communications</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Visual Language</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Publication Design</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Advertising</span>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container container_space pt-0 " >
            <div class="row mb-5" >
                <div class="col-sm-12 col-md-12 col-lg-6 mb-5 mb-lg-0" >
                    <img src="projects/images/essence/surf-sand-luxury.jpg" alt="" class="w-100 colUpAnim" >
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 align-self-end"  >
                    <div class="row" >
                        <div class="col-auto my-4" >
                            <p class="fs-5" >The Campaign →</p>
                        </div>
                        <div class="col-auto" >
                            <h2 class="display-1 fw-bold lh-small colUpAnim" >Surf,<br>
                                Sand,<br>
                                Luxury.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4" >
                <div class="col-sm-12 text-end" >
                    <img src="projects/images/essence/essence-1.jpg" alt="" class="cover colDownAnim" >
                </div>
            </div>
            <div class="row mb-4" >
                <div class="col-sm-12" >
                    <h4 class="fw-lighter mb-0" >Drape yourself in unprecedented luxury.</h4>
                </div>
            </div>
            <div class="row mb-4 gx-lg-5 mb-lg-5" >
                <div class="col" >
                    <img src="projects/images/essence/essence-2.jpg" alt="" class="cover colDownAnim" >
                </div>
                <div class="col" >
                    <img src="projects/images/essence/essence-3.jpg" alt="" class="contain colUpAnim" >
                </div>
            </div>
            <div class="row mb-4 mb-lg-5" >
                <div class="col-sm-12 text-end" >
                    <div class="ratio ratio-21x9 overflow-hidden">
                        <img src="projects/images/essence/essence-4.jpg" alt="" class="cover prxBottomToTop" >
                    </div>
                </div>
            </div>
            <div class="row mb-4 gx-lg-5 mb-lg-5" >
                <div class="col" >
                    <img src="projects/images/essence/essence-5.jpg" alt="" class="contain colDownAnim" >
                </div>
                <div class="col" >
                    <img src="projects/images/essence/essence-6.jpg" alt="" class="cover colUpAnim" >
                </div>
            </div>
            <div class="row mb-4 mb-lg-5 justify-content-end" >
                <div class="col-12 text-end" >
                    <img src="projects/images/essence/essence-7.jpg" alt="" class="cover colLeftAnim" >
                </div>
            </div>
            <div class="row mb-4 mb-lg-5" >
                <div class="col-10" >
                    <img src="projects/images/essence/essence-8.jpg" alt="" class="cover colRightAnim" >
                </div>
            </div>
            <div class="row mb-4 mb-lg-5 justify-content-end " >
                <div class="col-10 text-end" >
                    <img src="projects/images/essence/essence-9.jpg" alt="" class="cover colLeftAnim" >
                </div>
            </div>
            <div class="row" >
                <div class="col-10 " >
                    <img src="projects/images/essence/essence-10.jpg" alt="" class="cover colRightAnim" >
                </div>
            </div>
        </div>
    </section>
    <section style="background-color: #5F989D" class="text-white mb-5" >
        <div class="container container_space" >
            <div class="row" >
                <div class="col-sm-12" >
                    <div class="colUpAnim" >
                    <p class="opacity-75 fs-4 " >OVERALL BRAND IMPACT</p>
                 </div>
                    <p class="fs-4 mb-0 colUpAnim" >Our work paved the way for a strong consumer franchise for the brand. It created interest among leading global hospitality chains who have since created retail space for the brand on their properties.</p>
                </div>
            </div>
        </div>
        </section>
        <app-browse-all-work></app-browse-all-work>
</main>
