<footer class="footer" >
    <div class="container container_space" >
        <div class="row" >
            <div class="col-sm-12 mb-4" >
                <a href="" class="logo fs-5" >P.O.V. Brandcom</a>
            </div>
            <div class="col-sm-12" >
               <ul class="social_links_list" >
                <li><a href="" class="social_link" ><i class="pi pi-facebook" ></i></a></li>
                <li><a href="" class="social_link" ><i class="pi pi-linkedin" ></i></a></li>
                <li><a href="" class="social_link" ><i class="pi pi-youtube" ></i></a></li>
                <li><a href="" class="social_link" ><i class="pi pi-instagram" ></i></a></li>
               </ul>
            </div>
        </div>
    </div>
</footer>