<footer class="footer" >
    <div class="container container_space" >
        <div class="row" >
            <div class="col-sm-12 col-md-12 col-lg-6 mb-5 mb-lg-0 text-center text-lg-start" >
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="logo link opacity-100 fs-5" >
                    <img src="images/pov.png" srcset="images/pov.webp" alt="POV"  >
                    <img src="images/cfi.png" srcset="images/cfi.webp" alt="POV" class="cfi_img colUpAnim" >
                </a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 d-flex flex-wrap" >
                <div class="w-100" >
                    <div class="row mb-4 " >
                        <div class="col-12 text-center text-lg-end mb-2" >
                            <a href="" class="clear link opacity-100" >info&#64;povbrandcom.in</a>
                        </div>
                        <div class="col-12 text-center text-lg-end mb-2" >
                            <a href="" class="clear link opacity-100" >+91 22 22693737</a> / <a href="" class="clear link opacity-100" >22 22616272</a>
                        </div>
                        <div class="col-12 text-center text-lg-end " >
                            36, Ida Mansion, Ballard Estate, <br>Fort, Mumbai 400 001
                        </div>
                    </div>
                    
                </div>
                <div class="mt-auto w-100" >
                    <div class="row" >
                        <div class="col d-flex align-items-center justify-content-center justify-content-lg-end" >
                            <span class="me-4" >FOLLOW US</span>
                            <ul class="social_links_list" >
                                <li><a href="https://www.instagram.com/povbrandcom/" target="_blank" class="social_link link opacity-100 " ><i class="pi pi-instagram" ></i></a></li>
                                <li><a href="https://in.linkedin.com/company/point-of-view-brandcom-india-pvt-ltd" target="_blank" class="social_link link opacity-100" ><i class="pi pi-linkedin" ></i></a></li>
                                <li><a href="https://open.spotify.com/user/31v5sotxlafu57g3mbwea7e4cbk4" target="_blank" class="social_link link opacity-100" ><img src="images/spotify.svg" alt="Spotify" style="width:90%" ></a></li>
                               </ul>
                        </div>
                    </div>
                    </div>
            </div>

           
        </div>
    </div>
</footer>