


.loader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    .logo{
        
    }

    .pov_loader{
        font-size: 30px;
        line-height: 1;
        font-weight: 600;
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .charV{
        }
        .leftChar{
            position: absolute;
            top:40%;
            left: 0;
        }
        .rightChar{
            position: absolute;
            top:40%;
            left: inherit;
            right: 0;
            opacity: 0.1;
        }
        .topChar{
            position: absolute;
            top:0;
            left:39%;
            writing-mode: vertical-rl;
            opacity: 0.3;
        }
        .bottomChar{
            position: absolute;
            top:inherit;
            bottom: 0;
            left: 39%;
            writing-mode: vertical-rl;
            opacity: 0.6;
        }

    }

}