

<header>
    <div class="navigationBar" [ngClass]="fixedHeader? 'fixed' : '' " >
        <span class="bg" ></span>
        <div class="container" >
            <div class="row align-items-center " >
                <div class="col-4" >
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" title="Point Of View" class="logo" ><img src="images/pov-logo-light.svg" alt="POV" ></a>
                </div>
                <div class="col-8 text-end " >
                    <button class="hamburger link" (click)="openMenu()"  >
                        <i class="pi pi-ellipsis-v"></i>
                    </button>
                </div>
            </div>
        </div>        
    </div>

    <div class="menu" [ngClass]="menuStatus ? 'open' : '' " >
        <button class="clear md p_icon close fs-4" (click)="closeMenu()" ><i class="pi pi-times" ></i></button>
        <nav>
            <ul>
                <li>
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeMenu()" class="menu_link link" >HOME</a>
                </li>
                <li>
                    <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()" class="menu_link link" >ABOUT</a>
                </li>
                <li>
                    <a routerLink="/work" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeMenu()" class="menu_link link" >OUR WORK</a>
                </li>
                <li>
                    <a routerLink="/ethos" routerLinkActive="active" (click)="closeMenu()" class="menu_link link" >ETHOS</a>
                </li>
                <li>
                    <a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()" class="menu_link link" >CONTACT US</a>
                </li>
            </ul>
        </nav>
    </div>
</header>


<div class="overlay link" (click)="closeMenu()" [ngClass]="menuStatus ? 'show' : '' "  >

</div>

<!--<div *ngIf="loadingElem" class="loader" >
    Loading...
     <div class="pov_loader" >
        <span class="topChar" >P.O.</span>
       <span class="leftChar" >P.O.</span> <span class="charV" >V.</span><span class="rightChar" >O.P.</span>
       <span class="bottomChar" >O.P.</span>
    </div> 
    
  </div>
  -->