

<header>
    <div class="navigationBar" >
        <div class="container" >
            <div class="row align-items-center " >
                <div class="col-4" >
                    <a href="" title="Point Of View" class="logo" >P.O.V.</a>
                </div>
                <div class="col-8 text-end " >
                    <button class="hamburger" >
                        <i class="pi pi-ellipsis-v"></i>
                    </button>
                </div>
            </div>
        </div>        
    </div>
</header>