

<header>
    <div class="navigationBar {{navBarColor}}" [ngClass]="fixedHeader? 'fixed' : '' " >
        <div class="container" >
            <div class="row align-items-center " >
                <div class="col-4" >
                    <a href="" title="Point Of View" class="logo" >P.O.V.</a>
                </div>
                <div class="col-8 text-end " >
                    <button class="hamburger" (click)="openMenu()" >
                        <i class="pi pi-ellipsis-v"></i>
                    </button>
                </div>
            </div>
        </div>        
    </div>

    <div class="menu" [ngClass]="menuStatus ? 'open' : '' " >
        <button class="clear md p_icon close fs-4" (click)="closeMenu()" ><i class="pi pi-times" ></i></button>
        <nav>
            <ul>
                <li>
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeMenu()" class="menu_link" >H<span class="mainChar" >o</span>me</a>
                </li>
                <li>
                    <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()" class="menu_link" >Ab<span class="mainChar" >o</span>ut Us</a>
                </li>
                <li>
                    <a routerLink="/work" routerLinkActive="active" (click)="closeMenu()" class="menu_link" >Our W<span class="mainChar" >o</span>rk</a>
                </li>
                <li>
                    <a routerLink="/ethos" routerLinkActive="active" (click)="closeMenu()" class="menu_link" >Eth<span class="mainChar" >0</span>s</a>
                </li>
                <li>
                    <a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()" class="menu_link" >C<span class="mainChar" >o</span>ntact Us</a>
                </li>
            </ul>
        </nav>
    </div>
</header>