<main>  
    <div class="navSpace" ></div>
    <section class="" >
        <div class="container" >
            <div class="row minInnerFit" >
                <div class="col-sm-12 col-md-12 col-lg-6 d-flex flex-wrap py-4 py-lg-5 order-1 order-lg-0" >
                    <div class="mb-3 w-100 " >
                        <h1 class="text-end display-3" >
                            It’s time to<br>
                                discover<br>
                                your <strong>P.O.V.</strong>
                        </h1>
                    </div>
                    <div class="w-100 mt-auto" >
                        <div class="row" >
                            <div class="col-12 mb-3" >
                                <p class="mb-1">Phone</p>
                                <p class="mb-0 fs-4" ><a href="#" class="clear" >+91 22 22693737</a></p>
                                <p class="mb-0 fs-4" ><a href="#" class="clear" >+91 22 22616272</a></p>
                            </div>
                            <div class="col-12 mb-3" >
                                <p class="mb-1">E-mail</p>
                                <p class="mb-0 fs-4" ><a href="#" class="clear" >info&#64;povbrandcom.in</a></p>
                            </div>
                            <div class="col-12" >
                                <p class="mb-1">E-mail</p>
                                <p class="mb-0 fs-4" >36, Ida Mansion, Ballard Estate, Fort, Mumbai 400 001
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 mt-2 mt-lg-0 order-0 order-lg-1" >
                    <div class="h-100" style="min-height: 300px;" >
                        <img src="images/contact-us.gif" alt="" class="cover" >
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>