<main>  
    <div class="navSpace" ></div>
    <section class="bg-primary text-white" >
        <div class="container" >
            <div class="row minInnerFit" >
                <div class="col-sm-12 col-md-12 col-lg-6 d-flex flex-wrap py-4 py-lg-5 order-1 order-lg-0" >
                    <div class="mb-3 w-100 " >
                        <h1 class="text-end display-3 colUpAnim" >
                            It’s time to<br>
                                discover<br>
                                your <strong class="fw-bold" >POV</strong>
                                
                        </h1>
                    </div>
                    <div class="w-100 mt-auto" >
                        <div class="row" >
                            <div class="col-12 mb-3" >
                                <p class="mb-1">Phone</p>
                                <p class="mb-0 fs-4" ><a href="tel:+912222693737" target="_blank" class="clear link" >+91 22 22693737</a></p>
                                <p class="mb-0 fs-4" ><a href="tel:+912222616272" target="_blank" class="clear link" >+91 22 22616272</a></p>
                            </div>
                            <div class="col-12 mb-3" >
                                <p class="mb-1">E-mail</p>
                                <p class="mb-0 fs-4" ><a href="mailto:info@povbrandcom.in" target="_blank" class="clear link" >info&#64;povbrandcom.in</a></p>
                            </div>
                            <div class="col-12" >
                                <p class="mb-1">E-mail</p>
                                <p class="mb-0 fs-4" >36, Ida Mansion, Ballard Estate, Fort, Mumbai 400 001
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 mt-2 mt-lg-0 order-0 order-lg-1" >
                    <div class="h-100" style="min-height: 300px;" >
                        <!-- <img src="images/contact-us.gif" alt="" class="cover" > -->
                        <figure class="povArt" >
                            <div class="ratio ratio-1x1" >
                              <img src="images/about/o.gif" alt="" class="char_o" >
                              <img src="images/about/p.png" alt="" class="char_p" >
                              <img src="images/about/v.png" alt="" class="char_v" >
                            </div>
                    </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary" >
        <div class="container-fluid g-0" >
            <div class="row g-0" >
                <div class="col-sm-12" >
                    <div class="ratio ratio-21x9" >
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.870539609486!2d72.8338309793977!3d18.937123610544408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1da1a607873%3A0x89fe45134feba004!2sPoint%20Of%20View%20Brandom%20India%20Private%20Limited!5e0!3m2!1sen!2sin!4v1730281944256!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="mix-blend-mode: luminosity;filter: invert(1);" ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
