<main>
    <div class="navSpace"></div>
    <section>
        <div class="container-fluid g-0" >
            <div class="row" >
                <div class="col-sm-12" >
                    <img src="projects/images/skechers/skechers-banner.jpg" alt="" class="w-100" >
                </div>
            </div>
        </div>
        </section>
        <section>
            <div class="container container_space " >
                <div class="row mb-4 mb-lg-5" >
                    <div class="col-sm-12 col-md-12 col-lg-6 " >
                        <h1 class="display-1 fw-bold mb-0 colLeftAnim " >
                            BUILDING<br>

A HERO <br>
ARCHTYPE <br>
FOR <span class="d-inline-block fs-5 ms-2 fw-lighter" >The Campaign →</span><br>
RUNNING
                        </h1>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 align-self-end text-end " >
                        <p class="fs-5 colUpAnim" >Running doesn’t have<br>superstar sporting equivalent.<br>The ones that are famous<br>
are already engaged<br>by other brands.<br>So how does one make<br>in-roads into the<br>running community?<br>Specially knowing that the<br>running community in India<br>is still very niche and<br>tends to move in packs.<br></p>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-12 col-md-12 col-lg-12" >
                        <ul class="tag_list" >
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Strategy</span>
                            </li>
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Identity</span>
                            </li>
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Digital</span>
                            </li>
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Retail</span>
                            </li>
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Communications</span>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section >
            <div class="container-fluid g-0" >
                <div class="row" >
                    <div class="col-sm-12 overflow-hidden colUpAnim" >
                        <div class="ratio ratio-21x9" style="transform: scale(1.01);" >
                            <app-player [playCTA]="true" [muteCTA]="true" [autoPlay]="false" videoSrc="projects/images/skechers/kavita-raut-tungar.mp4" posterSrc="projects/images/skechers/kavita-raut-tungar.jpg" ></app-player>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container container_space" >
                <div class="row mb-4 mb-lg-5" >
                    <div class="col-sm-12" >
                        <p class="fs-5 mb-0" >‘Choose Greatness’ was the theme on which we conceptualized a multi-film series, that chronicled Kavita Raut Tungar’s participation at the Skechers sponsored LA Marathon. It captures the grit and determination needed to rise to the top from difficult personal circumstances. The ensuing campaign helped Skechers engage runners and running communities across the country through an inspirational athelete's personal journey.</p>
                    </div>
                </div>

                <div class="row mb-4 mb-lg-5 gx-lg-5" >
                    <div class="col-sm-12 col-md-6" >
                        <div class="ratio ratio-1x1 overflow-hidden revealUpAnim" >
                        <app-player videoSrc="projects/images/skechers/skechers-img-1.mp4" posterSrc="projects/images/skechers/skechers-img-1.jpg" ></app-player>
                    </div>
                    </div>
                    <div class="col-sm-12 col-md-6" >
                        <div class="ratio ratio-1x1 overflow-hidden revealDownAnim" >
                        <app-player videoSrc="projects/images/skechers/skechers-img-2.mp4" posterSrc="projects/images/skechers/skechers-img-2.jpg" ></app-player>
                    </div>
                    </div>
                </div>
                <div class="row gx-lg-5" >
                    <div class="col-sm-12 col-md-6 revealDownAnim" ><img src="projects/images/skechers/skechers-img-3.jpg" alt="" class="w-100" ></div>
                    <div class="col-sm-12 col-md-6 revealUpAnim" >
                        <img src="projects/images/skechers/skechers-img-4.jpg" alt="" class="w-100" >
                    </div>
                </div>
            </div>
        </section>
    <section class="text-white mb-5" style="background-color: #002E52;
;" >
        <div class="container-fluid py-4 py-lg-5" >
            <div class="row mb-3" >
                <div class="col-sm-12 " >
                    <div class="container" >
                        <h2 class="display-7 fw-lighter" >The Result</h2>
                    </div>
                </div>
            </div>

            <div class="row" >
                <div class="col-sm-12" >
                    <app-project-result [results]="[
                        {value:'2.5 MILLION',title:'Impressions over Social Media'},
                        {value:'ABOVE 50%',title:'Engagement Rates'},
                        {value:'TREMENDOUS ORGANIC',title:'WOM & PR TRACTION'},
                        {value:'2.5 MILLION',title:'Impressions over Social Media'},
                        {value:'ABOVE 50%',title:'Engagement Rates'},
                        {value:'TREMENDOUS ORGANIC',title:'WOM & PR TRACTION'}
                        ]" ></app-project-result>
                </div>
            </div>
        </div>
    </section>
    <section class="text-white bg-dark mb-5" >
        <div class="container container_space" >
            <div class="row" >
                <div class="col-sm-12" >
                    <div class="colUpAnim" >
                    <p class="fs-4" style="color:#FF4800;" >OVERALL BRAND IMPACT</p>
                 </div>
                    <p class="fs-4 mb-0 colUpAnim" >Skechers crossed <span style="color:#FF4800;" >1,000,000 pairs</span>
                        sold for the first time in the Indian 
                       market over the course of our 
                       partnership with the brand. Some of the 
                       properties we innovated continue 
                       to be marquee <span style="color:#FF4800;" >marketing events / IPs</span> for the brand.</p>
                </div>
            </div>
        </div>
        </section>
        <app-browse-all-work></app-browse-all-work>
 
</main>