<main>
    <div class="navSpace"></div>
    <section>
        <div class="container-fluid g-0" >
            <div class="row" >
                <div class="col-sm-12" >
                    <img src="projects/images/train-strong/train-strong-banner.jpg" alt="" class="w-100" >
                </div>
            </div>
        </div>
        </section>
        <section class="bg-dark" >
            <div class="container container_space " >
                <div class="row mb-4" >
                    <div class="col-sm-12  " >
                        <h1 class="display-2 lh-small fw-normal mb-0 colLeftAnim lh-normal text-white " >
                            Put the shoe in a tough training environment and let the visuals speak
for themselves.

                        </h1>
                    </div>
                    
                </div>
                <div class="row mb-4 mb-lg-5 justify-content-end " >
                    <div class="col-sm-12 col-md-12 col-lg-6 text-end" >
                        <h1 class="display-3 fw-bold mb-0 colLeftAnim text-white" >
                            <span class="d-inline-block fs-5 ms-2 fw-light" >The Campaign →</span> Train <strong>strong</strong><br>
                        </h1>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-12 col-md-12 col-lg-12" >
                        <ul class="tag_list light-outline" >
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Strategy</span>
                            </li>
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Identity</span>
                            </li>
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Digital</span>
                            </li>
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Retail</span>
                            </li>
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Communications</span>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-dark">
            <div class="container container_space" >
                <div class="row g-3 g-lg-5 mb-5" >
                    <div class="col-6 col-md-6 col-lg-4 revealUpAnim" >
                        <img src="projects/images/train-strong/train-strong-frame-1.jpg" alt="" class="w-100" >
                    </div>
                    <div class="col-6 col-md-6 col-lg-4 revealDownAnim" >
                        <img src="projects/images/train-strong/train-strong-frame-2.jpg" alt="" class="w-100" >
                    </div>
                    <div class="col-6 col-md-6 col-lg-4 revealUpAnim" >
                        <img src="projects/images/train-strong/train-strong-frame-3.jpg" alt="" class="w-100" >
                    </div>
                    <div class="col-6 col-md-6 col-lg-4 revealDownAnim" >
                        <img src="projects/images/train-strong/train-strong-frame-4.jpg" alt="" class="w-100" >
                    </div>
                    <div class="col-6 col-md-6 col-lg-4 revealUpAnim" >
                        <img src="projects/images/train-strong/train-strong-frame-5.jpg" alt="" class="w-100" >
                    </div>
                    <div class="col-6 col-md-6 col-lg-4 revealDownAnim" >
                        <img src="projects/images/train-strong/train-strong-frame-6.jpg" alt="" class="w-100" >
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-12 text-light" >
                        <p class="fs-5 mb-2" >The training segment within the sports shoe industry is rapidly growing in India.</p>
                        <p class="fs-5 mb-2" >   The Skechers GO Train range was the perfect shoe for intensive strength training</p>
                        <p class="fs-5 mb-0" >   individuals. Our challenge was to differentiate in a category where we were late entrants.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-dark"  >
            <div class="container-fluid g-0 pb-5" >
                <div class="row" >
                    <div class="col-sm-12" >
                        <div class="prxRightToLeft" >
                        <img src="projects/images/train-strong/train-strong-1.jpg" alt="" class="w-100 " >
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-dark" >
            <div class="container-fluid g-0 " >
                <div class="row" >
                    <div class="col-sm-12" >
                        <img src="projects/images/train-strong/train-strong-2.jpg" alt="" class="w-100" >
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-dark" >
            <div class="container-fluid p-5 " >
                <div class="row overflow-hidden" >
                    <div class="col-sm-12" >
                        <img src="projects/images/train-strong/train-strong-3.jpg" alt="" class="w-100 prxZoomIn" >
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-dark" >
            <div class="container-fluid g-0 pb-5 " >
                <div class="row" >
                    <div class="col-sm-12" >
                        <img src="projects/images/train-strong/train-strong-4.jpg" alt="" class="w-100 prxZoomOut" >
                    </div>
                </div>
            </div>
        </section>
    <section class="text-white bg-white mb-5" >
        <div class="container container_space" >
            <div class="row" >
                <div class="col-sm-12" >
                    <div class="colUpAnim" >
                    <p class="fs-4" style="color:#DEDC00;" >BRAND IMPACT</p>
                 </div>
                    <p class="fs-4 mb-0 colUpAnim text-dark" >The campaign gave the brand a strong and distinctive platform on which to build its training range. It also led a larger creative and content effort that allowed it to make a mark in a category dominated by other global heavyweights.</p>
                </div>
            </div>
        </div>
        </section>
        <app-browse-all-work></app-browse-all-work>
 
</main>