<main>  
    <div class="navSpace" ></div>
    <section class="maxInnerFit" style="background-color: rgb(228 42 72);" >
        <div class="container h-100 d-flex align-items-center flex-wrap justify-content-center " >
            <h1 class="display-1 text-white text-uppercase text-center mb-0" >What We <br> Are</h1>
        </div>
        <div class="interactiveBlock" >
            <app-interactive-cursor-section></app-interactive-cursor-section>
        </div>
    </section>
    <section>
        <div class="container container_space " >
            <div class="row gx-lg-5 align-items-center " >
                <div class="col-sm-12 col-md-12 col-lg-4" >
                    <div class="fs-5" >
                        <p>We’re not interested in the latest trends, buzzwords, or fleeting styles. Forget swiping through endless feeds, cookie-cutter templates, or the ‘hot’ design gimmicks. We don’t need fluff, overused slogans, or design that tries too hard to be clever.</p>
                        <p>We crave work that tells epic tales and bold thinking that transports us and offers unique experiences. We want to be captivated by creativity that sparks conversation, challenges perspectives, and shows that someone truly cares about creating it. We yearn for ideas that make us feel invested  and draw us in so deeply that we forget the world around us. </p>
                        <p>We’re after that kind of approach —something crafted with passion, meant to be seen and felt.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8" >
                    <div class="ratio ratio-16x9 bg-dark" >

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-secondary" >
        <div class="container-fluid py-3 " >
            <div class="row" >
                <div class="col-sm-12" >
                    <app-gallery-ticker [gallery]="clients" [reverseDirection]="false" ></app-gallery-ticker>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-dark" >
        <div class="container-fluid py-3 " >
            <div class="row" >
                <div class="col-sm-12 invertLogo" >
                    <app-gallery-ticker [gallery]="clients" [reverseDirection]="true" [invert]="true" ></app-gallery-ticker>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid g-0" >
            <div class="row g-0" >
                <div class="col-sm-12" >
                    <ul class="ethos_list" >
                        <li class="starCursor" >
                            <div class="container" >
                                <div class="row" >
                                    <div class="col-sm-12 col-md-12 col-lg-3 mb-3 mb-lg-0" >
                                        <div><span class="order" >01</span></div>
                                        <div class="mb-3" ><span class="title" >TITLE</span></div>
                                        <ul class="title_keywords" >
                                            <li>Advertising</li>
                                            <li>Social</li>
                                            <li>Commerce</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-9 d-flex flex-wrap" >
                                        <div class="w-100 mb-3" >
                                            <h2 class="subject_title" >One Liner to describe subject selection.</h2>
                                            <p class="subject_para" >
                                                For each project, we combine technical and methodological skills with
creative insight and a profound sensitivity toward content. In our office
and in our studio we are able to develop both the executive and the
artistic aspects of every project. We design one-of-a-kind experiences that attract customers and connect
them to the brands, increasing loyalty throughout the whole journey.
                                            </p>
                                        </div>
                                        <div class="w-100 mt-auto d-flex justify-content-end " >
                                            <ul class="subject_keywords" >
                                                <li>Branding</li>
                                                <li>Motion Design</li>
                                                <li>Graphic Design</li>
                                                <li>Art Direction</li>
                                                <li>Packaging</li>
                                                <li>Product Design</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="starCursor" >
                            <div class="container" >
                                <div class="row" >
                                    <div class="col-sm-12 col-md-12 col-lg-3 mb-3 mb-lg-0" >
                                        <div><span class="order" >02</span></div>
                                        <div class="mb-3" ><span class="title" >TITLE</span></div>
                                        <ul class="title_keywords" >
                                            <li>Advertising</li>
                                            <li>Social</li>
                                            <li>Commerce</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-9 d-flex flex-wrap" >
                                        <div class="w-100 mb-3" >
                                            <h2 class="subject_title" >One Liner to describe subject selection.</h2>
                                            <p class="subject_para" >
                                                For each project, we combine technical and methodological skills with
creative insight and a profound sensitivity toward content. In our office
and in our studio we are able to develop both the executive and the
artistic aspects of every project. We design one-of-a-kind experiences that attract customers and connect
them to the brands, increasing loyalty throughout the whole journey.
                                            </p>
                                        </div>
                                        <div class="w-100 mt-auto d-flex justify-content-end " >
                                            <ul class="subject_keywords" >
                                                <li>Branding</li>
                                                <li>Motion Design</li>
                                                <li>Graphic Design</li>
                                                <li>Art Direction</li>
                                                <li>Packaging</li>
                                                <li>Product Design</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="starCursor" >
                            <div class="container" >
                                <div class="row" >
                                    <div class="col-sm-12 col-md-12 col-lg-3 mb-3 mb-lg-0" >
                                        <div><span class="order" >03</span></div>
                                        <div class="mb-3" ><span class="title" >TITLE</span></div>
                                        <ul class="title_keywords" >
                                            <li>Advertising</li>
                                            <li>Social</li>
                                            <li>Commerce</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-9 d-flex flex-wrap" >
                                        <div class="w-100 mb-3" >
                                            <h2 class="subject_title" >One Liner to describe subject selection.</h2>
                                            <p class="subject_para" >
                                                For each project, we combine technical and methodological skills with
creative insight and a profound sensitivity toward content. In our office
and in our studio we are able to develop both the executive and the
artistic aspects of every project. We design one-of-a-kind experiences that attract customers and connect
them to the brands, increasing loyalty throughout the whole journey.
                                            </p>
                                        </div>
                                        <div class="w-100 mt-auto d-flex justify-content-end " >
                                            <ul class="subject_keywords" >
                                                <li>Branding</li>
                                                <li>Motion Design</li>
                                                <li>Graphic Design</li>
                                                <li>Art Direction</li>
                                                <li>Packaging</li>
                                                <li>Product Design</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
<app-cursor></app-cursor>