<main>  
    <div class="navSpace" ></div>
    <section class="maxInnerFit" style="background-color: rgb(228 42 72);" >
        <div class="container h-100 d-flex align-items-center flex-wrap justify-content-center " >
            <h1 class="wwaHeading text-white text-uppercase text-center mb-0" >What <br>We Are</h1>
        </div>
        <div class="interactiveBlock" >
            <app-interactive-cursor-section></app-interactive-cursor-section>
        </div>
    </section>
    <section>
        <div class="container container_space " >
            <div class="row gx-lg-5 align-items-center " >
                <div class="col-sm-12 col-md-12 col-lg-4" >
                    <div class="fs-5" >
                        <p>Our POV champions a sum of parts approach to build larger narratives. So our worldview goes beyond just functional creative disciplines.
                            It’s not that we shy away from narrow mandates. It’s just that we believe we can create real impact by being democratic about how we look at creativity.</p>
                        <p>To that extent, we are fostering an an approach that allows us to look at creative solutions that lie at the intersection of art, culture, community, trends, fashion, music, experiences and a lot more. And not just ticking on the boxes on a ‘to-do’ list. </p>
                        <p>This is how we help spark conversations, challenge perspectives, and create beautiful things that people care enough to engage with.<br>
                            This is how we create influence.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8" >
                    <div class="ratio ratio-16x9 bg-dark" >
                        <img src="images/pov-ethos.gif" alt="POV ETHOS" class="contain" >
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-secondary" >
        <div class="container-fluid py-3 " >
            <div class="row" >
                <div class="col-sm-12" >
                    <app-gallery-ticker [gallery]="clients" [reverseDirection]="false" ></app-gallery-ticker>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-dark" >
        <div class="container-fluid py-3 " >
            <div class="row" >
                <div class="col-sm-12 invertLogo" >
                    <app-gallery-ticker [gallery]="clients" [reverseDirection]="true" [invert]="true" ></app-gallery-ticker>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid g-0" >
            <div class="row g-0" >
                <div class="col-sm-12" >
                    <ul class="ethos_list" >
                        <li class="starCursor" >
                            <div class="container" >
                                <div class="row" >
                                    <div class="col-sm-12 col-md-12 col-lg-3 mb-3 mb-lg-0" >
                                        <div class="mb-3" ><span class="order" >01</span></div>
                                        <!-- <div class="mb-3" ><span class="title" >TITLE</span></div> -->
                                        <ul class="title_keywords" >
                                            <li>Strategy</li>
                                            <li>Design</li>
                                            <li>Digital</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-9 d-flex flex-wrap" >
                                        <div class="w-100 mb-3" >
                                            <h2 class="subject_title" >Strategic Identity Design</h2>
                                            <div class="subject_para" > 
                                                <p>We help give voice and form to brands through immersive and imaginative design thinking.</p>
                                                <p>Our approach is focused on scalable, human centric designs that make the brand feel native irrespective of the platform it is consumed on.</p>
                                            </div>
                                        </div>
                                        <div class="w-100 mt-auto d-flex justify-content-end " >
                                            <ul class="subject_keywords" >
                                                <li>Branding</li>
                                                <li>Research</li>
                                                <li>Strategy</li>
                                                <li>Logoform</li>
                                                <li>Visual Design Systems</li>
                                                <li>Experience Design Systems</li>
                                                <li>Digital & Interaction Design</li>
                                                <li>Packaging</li>
                                                <li>Spatial Design</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="starCursor" >
                            <div class="container" >
                                <div class="row" >
                                    <div class="col-sm-12 col-md-12 col-lg-3 mb-3 mb-lg-0" >
                                        <div class="mb-3" ><span class="order" >02</span></div>
                                        <!-- <div class="mb-3" ><span class="title" >TITLE</span></div> -->
                                        <ul class="title_keywords" >
                                            <li>Advertising</li>
                                            <li>Social</li>
                                            <li>Commerce</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-9 d-flex flex-wrap" >
                                        <div class="w-100 mb-3" >
                                            <h2 class="subject_title" >Full Funnel Creativity</h2>
                                            <div class="subject_para" >
                                            <p>
                                                We cut through the ‘line’ and enjoy the challenges that go with driving creative and content effort that cuts across platforms and mediums.
                                            </p>
                                            <p>So our solutions are versatile and multi-hyphenated by definition.</p>
                                        </div>
                                        </div>
                                        <div class="w-100 mt-auto d-flex justify-content-end " >
                                            <ul class="subject_keywords" >
                                                <li>Positioning & Comms Strategy</li>
                                                <li>Content & Social Strategy</li>
                                                <li>Research, Insight & Reporting</li>
                                                <li>360° Advertising Campaigns</li>
                                                <li>Influencer Marketing</li>
                                                <li>Production</li>
                                                <li>Performance Marketing</li>
                                                <li>Tech & Development</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="starCursor" >
                            <div class="container" >
                                <div class="row" >
                                    <div class="col-sm-12 col-md-12 col-lg-3 mb-3 mb-lg-0" >
                                        <div class="mb-3" ><span class="order" >03</span></div>
                                        <!-- <div class="mb-3" ><span class="title" >TITLE</span></div> -->
                                        <ul class="title_keywords" >
                                            <li>Media</li>
                                            <li>Experiences</li>
                                            <li>Innovations</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-9 d-flex flex-wrap" >
                                        <div class="w-100 mb-3" >
                                            <h2 class="subject_title" >Experiential & Innovation led Solutions</h2>
                                            <div class="subject_para"  >
                                                <p>We help brands create meaningful connections with audiences, foster a sense of community and aid larger cultural narratives. We are happy to think ‘Acts’ and not ‘Ad’s’ depending on our opportunity assessment.</p>
                                                <p>
                                                    Our capabilities in Media help when seeding and disseminating creative ideas for full impact at an audience end.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="w-100 mt-auto d-flex justify-content-end " >
                                            <ul class="subject_keywords" >
                                                <li>Experiential Marketing</li>
                                                <li>Concepting Experiences</li>
                                                <li>Events & IPs</li>
                                                <li>Brand & Culture Collabs</li>
                                                <li>Installation</li>
                                                <li>Media Planning & Buying</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
