


.slideShow{
    width: 100%;
    height: 100%;
    .swiper-wrapper{
        height: 100%;
        .swiper-slide{
            height: 100%;
            overflow: hidden;
            .slide_bg{
                width: 100%;
                height: 100%;
                object-fit: cover;
                
            }
            &.swiper-slide-active{
                .slide_bg{
                }  
            }
            
        }
    }
    &.parallax{
        .swiper-wrapper{
            .swiper-slide{
                //transition-timing-function: linear !important;
                .slide_bg{
                   transition: transform ease 2s !important;
                }
                &.swiper-slide-next{
                    .slide_bg{
                        transform: translateX(-100%);
                        transition: transform ease 2s !important;
                    }
               }
               &.swiper-slide-active{
                    .slide_bg{
                        transform: translateX(0);
                        transition: transform ease 2s !important;
                    }
               }
               &.swiper-slide-prev{
                .slide_bg{
                    transform: translateX(100%);
                    transition: transform ease 2s !important;
                }
           }
            }
        }
    }
    &.zoomInOut{
        .swiper-wrapper{
            .swiper-slide{
                .slide_bg{
                    transform: scale(1);
                    transition: transform linear 15s;
                }
               &.swiper-slide-active{
                    .slide_bg{
                        transform: scale(1.3);
                       // opacity: 0 !important;
                    }
               }
            }
        }
    }
}


