<div class="keyFeaturesSection" >

    <div class="container-fluid container_space" >
        <div class="row" >
            <div class="col-sm-12" >
                <div class="featureBg " >
                    <div class="bgContent bg-dark" >
                        <app-player videoSrc="media/marketing.mp4" posterSrc="media/marketing.jpg" ></app-player>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5" style="mix-blend-mode: difference;" >
            <div class="col-sm-12" >
                <ul class="keyFeaturesList leftKey" >
                    <li>
                        <h2 class="feature" >Branding</h2>
                    </li>
                    <li>
                        <h2 class="feature" >Advertising</h2>
                    </li>
                    <li>
                        <h2 class="feature" >Marketing</h2>
                    </li>
                    <li>
                        <h2 class="feature" >Strategy</h2>
                    </li>
                    <li>
                        <h2 class="feature" >Design</h2>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" style="mix-blend-mode: difference;" >
            <div class="col-sm-12 text-end " >
                <ul class="keyFeaturesList rightKey text-end  ms-auto me-0" >
                    <li>
                        <h2 class="feature" >Culture</h2>
                    </li>
                    <li>
                        <h2 class="feature" >Luxury</h2>
                    </li>
                    <li>
                        <h2 class="feature" >Social</h2>
                    </li>
                    <li>
                        <h2 class="feature" >Films</h2>
                    </li>
                    <li>
                        <h2 class="feature" >Art</h2>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-12" >
                <div style="height: calc(100vh - 80px);" >

                </div>
            </div>
        </div>
    </div>

</div>