<main>  
    <div class="navSpace" ></div>
    <section class="" >
        <div class="container " >
            <div class="row minInnerFit pt-5 pb-4" >
                <div class="col-sm-12 mb-3" >
                    <div class="keyFeatures" >
                        <span class="title" >OUR POV IS</span>
                        <!-- <ul class="key_list" >
                            <li><a href=""><img src="images/key/feature-1.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-2.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-3.jpg" alt="" ></a></li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-sm-12 mb-3" >
                    <div class="keyFeatures" >
                        <span class="title" >OPEN</span>
                        <ul class="key_list" >
                            <li><a href=""><img src="images/key/feature-1.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-2.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-3.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-3.jpg" alt="" ></a></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="col-sm-12 mb-3" >
                    <div class="keyFeatures" >
                        <span class="title" >COLLABORATIVE</span>
                        <ul class="key_list" >
                            <li><a href=""><img src="images/key/feature-1.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-2.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-3.jpg" alt="" ></a></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="col-sm-12 mb-3" >
                    <div class="keyFeatures" >
                        <span class="title" >DEMOCRATIC</span>
                        <ul class="key_list" >
                            <li><a href=""><img src="images/key/feature-1.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-2.jpg" alt="" ></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12" >
                    <div class="keyFeatures" >
                        <span class="title" >MULTI - DIMENSIONA</span>
                        <ul class="key_list" >
                            <li><a href=""><img src="images/key/feature-1.jpg" alt="" ></a></li>
                        </ul>
                    </div>
                </div>
            </div>
           
        </div>
    </section>
</main>