<main>  
    <div class="navSpace" ></div>
    <section class="" >
        <div class="container" >
            <div class="row  pt-5 pb-4" >
                <div class="col-sm-12 mb-3 colDownAnim" >
                    <div class="keyFeatures" style="pointer-events: none;" >
                        <span class="title"  >OUR POV IS</span>
                        <!-- <ul class="key_list" >
                            <li><a href=""><img src="images/key/feature-1.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-2.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-3.jpg" alt="" ></a></li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-sm-12 mb-3 colDownAnim" >
                    <div class="keyFeatures"  >
                        <span class="title starCursor" >OPEN</span>
                        <ul class="key_list" >
                            <li><a routerLink="/work/ever-enviro" title="Ever Enviro" ><img src="images/about/gallery/about-gallery-3.jpg" srcset="images/about/gallery/about-gallery-3.webp" alt="Ever Enviro" ></a></li>
                            <li><a routerLink="/work/kaveri" title="Kaveri" ><img src="images/about/gallery/about-gallery-2.jpg" srcset="images/about/gallery/about-gallery-2.webp"  alt="Kaveri" ></a></li>
                            <li><a routerLink="/work/essence" title="Essence"  ><img src="images/about/gallery/about-gallery-9.jpg"  srcset="images/about/gallery/about-gallery-9.webp"  alt="Essence" ></a></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="col-sm-12 mb-3 colDownAnim" >
                    <div class="keyFeatures" >
                        <span class="title starCursor" >COLLABORATIVE</span>
                        <ul class="key_list" >
                            <li><a routerLink="/work/choose-greatness" title="Skechers" ><img src="images/about/gallery/about-gallery-7.jpg" srcset="images/about/gallery/about-gallery-7.webp" alt="Skechers" ></a></li>
                            <li><a routerLink="/work/ozee" title="Ozee" ><img src="images/about/gallery/about-gallery-5.jpg" srcset="images/about/gallery/about-gallery-5.webp" alt="Ozee" ></a></li>
                            <li><a routerLink="/work/ipru" title="IPRU" ><img src="images/about/gallery/about-gallery-8.jpg" srcset="images/about/gallery/about-gallery-8.webp" alt="IPRU" ></a></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="col-sm-12 mb-3 colDownAnim" >
                    <div class="keyFeatures" >
                        <span class="title starCursor" >DEMOCRATIC</span>
                        <ul class="key_list" >
                            <li><a routerLink="/work/zoi" title="Zoi" ><img src="images/about/gallery/about-gallery-6.jpg" srcset="images/about/gallery/about-gallery-6.webp" alt="zoi" ></a></li>
                            <li><a routerLink="/work/360-one" title="360-one" ><img src="images/about/gallery/about-gallery-1.jpg" srcset="images/about/gallery/about-gallery-1.webp" alt="360-one" ></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 colDownAnim" >
                    <div class="keyFeatures" >
                        <span class="title starCursor" >MULTI-<br class="d-block d-md-none" >DIMENSIONAL</span>
                        <ul class="key_list" >
                            <li><a routerLink="/work/baggit" title="Baggit" ><img src="images/about/gallery/about-gallery-4.jpg" srcset="images/about/gallery/about-gallery-4.webp" alt="baggit" ></a></li>
                        </ul>
                    </div>
                </div>
            </div>
           
        </div>
    </section>
    <section>
        <div class="container-fluid g-0 container_space" >
            <div class="row  g-0" >
                <div class="col-sm-12" >
                    <app-gallery-ticker [gallery]="gallery" tickerType="gallery" ></app-gallery-ticker>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container container_space">
            <div class="row mb-5 align-items-center " >
                <div class="col-sm-12 col-md-12 col-lg-3" >
                    <h2 class="display-5 colLeftAnim " >
                        THIS IS<br>
                        HOW<br>
                        WE DO
                    </h2>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-9" >
                    <ul class="tag_list" >
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Research</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Strategy</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Design</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Digital</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Advertising</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Social</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Commerce</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Media</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Concepts</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >IPs & Experiences</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Innovations</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Spaces</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-12" >
                    <p class="fs-4" >We exist to make brands relevant and interesting. People are not just consumers and can go through an entire lifetime without paying attention to the existence of your brand. That is, unless you give them very good reason to look at you.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="bg-dark povArtSection" >
        <div class="container " >
            <div class="row pt-5 pb-5 minFit align-items-center justify-content-center text-center " >
                <div class="col-sm-12" >
                    <figure class="povArt" >
                            <div class="ratio ratio-1x1" >
                              <img src="images/about/o.gif" alt="" class="char_o" >
                              <img src="images/about/p.png" alt="" class="char_p" >
                              <img src="images/about/v.png" alt="" class="char_v" >
                            </div>
                    </figure>
                </div>
            </div>
        </div>
    </section> -->
    <section class="bg-dark minInnerFit d-flex align-items-center" >
        <div class="container container_space " >
          
            <div class="row justify-content-center " >
                <div class="col-sm-12 col-md-12 col-lg-10" >
                    <ul class="listOfClients invert" >
                        <li *ngFor="let client of clients" ><span class="logo" ><img src="{{client.img}}" alt="{{client.title}}" ></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container container_space">
            <div class="row align-items-end " >
                <div class="col-sm-12 col-md-12 col-lg-6 mb-3 mb-md-0" >
                    <h2 class="display-3 lh-normal mb-0" >
                        Want to<br>
                        know more?
                    </h2>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 text-end " >
                   <a routerLink="/contact" class="btn btn-link link" >CONNECT WITH US </a>
                </div>
            </div>
        </div>
    </section>
</main>
