<main>  
    <div class="navSpace" ></div>
    <section class="" >
        <div class="container" >
            <div class="row minInnerFit pt-5 pb-4" >
                <div class="col-sm-12 mb-3" >
                    <div class="keyFeatures" >
                        <span class="title" >OUR POV IS</span>
                        <!-- <ul class="key_list" >
                            <li><a href=""><img src="images/key/feature-1.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-2.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-3.jpg" alt="" ></a></li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-sm-12 mb-3" >
                    <div class="keyFeatures" >
                        <span class="title" >OPEN</span>
                        <ul class="key_list" >
                            <li><a href=""><img src="images/key/feature-1.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-2.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-3.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-3.jpg" alt="" ></a></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="col-sm-12 mb-3" >
                    <div class="keyFeatures" >
                        <span class="title" >COLLABORATIVE</span>
                        <ul class="key_list" >
                            <li><a href=""><img src="images/key/feature-1.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-2.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-3.jpg" alt="" ></a></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="col-sm-12 mb-3" >
                    <div class="keyFeatures" >
                        <span class="title" >DEMOCRATIC</span>
                        <ul class="key_list" >
                            <li><a href=""><img src="images/key/feature-1.jpg" alt="" ></a></li>
                            <li><a href=""><img src="images/key/feature-2.jpg" alt="" ></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12" >
                    <div class="keyFeatures" >
                        <span class="title" >MULTI - DIMENSIONA</span>
                        <ul class="key_list" >
                            <li><a href=""><img src="images/key/feature-1.jpg" alt="" ></a></li>
                        </ul>
                    </div>
                </div>
            </div>
           
        </div>
    </section>
    <section>
        <div class="container-fluid g-0 container_space" >
            <div class="row  g-0" >
                <div class="col-sm-12" >
                    <app-gallery-ticker [gallery]="gallery" ></app-gallery-ticker>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container container_space">
            <div class="row mb-5 align-items-center " >
                <div class="col-sm-12 col-md-12 col-lg-3" >
                    <h2 class="display-4" >
                        WHAT WE 
                        WILL DO
                        FOR YOU
                    </h2>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-9" >
                    <ul class="tag_list" >
                        <li>
                            <span class="tag" >Research</span>
                        </li>
                        <li>
                            <span class="tag" >Strategy</span>
                        </li>
                        <li>
                            <span class="tag" >Design</span>
                        </li>
                        <li>
                            <span class="tag" >Digital</span>
                        </li>
                        <li>
                            <span class="tag" >Advertising</span>
                        </li>
                        <li>
                            <span class="tag" >Social</span>
                        </li>
                        <li>
                            <span class="tag" >Commerce</span>
                        </li>
                        <li>
                            <span class="tag" >Media</span>
                        </li>
                        <li>
                            <span class="tag" >Concepts</span>
                        </li>
                        <li>
                            <span class="tag" >IPs & Experiences</span>
                        </li>
                        <li>
                            <span class="tag" >Innovations</span>
                        </li>
                        <li>
                            <span class="tag" >Spaces</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-12" >
                    <p class="fs-4" >A sum-of-parts approach to brands, built using specialist perspectives
                        in service of the big picture. A sum-of-parts approach to brands, built using specialist perspectives in service of the big picture.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-dark" >
        <div class="container container_space maxFit" >
            <div class="row h-100 align-items-center justify-content-center text-center " >
                <div class="col-sm-12" >
                    Test
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container container_space">
            <div class="row align-items-end " >
                <div class="col-sm-12 col-md-12 col-lg-6 mb-3 mb-md-0" >
                    <h2 class="display-2 mb-0" >
                        Want to<br>
                        know more?
                    </h2>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 text-end " >
                   <a routerLink="" class="btn btn-link" >CONNECT WITH US </a>
                </div>
            </div>
        </div>
    </section>
</main>