<main>
    <div class="navSpace"></div>
    <section>
        <div class="container-fluid g-0" >
            <div class="row" >
                <div class="col-sm-12" >
                    <img src="projects/images/ever-enviro/ever-enviro-banner.jpg" alt="" class="w-100" >
                </div>
            </div>
        </div>
        </section>
        <section>
            <div class="container container_space " >
                <div class="row mb-4 mb-lg-5 justify-content-between " >
                    <div class="col-sm-12 col-md-12 col-lg-6 " >
                        <h1 class="display-1 fw-bold mb-0 colLeftAnim " >
                            WE MAKE<br>
YOUR  <span class="d-inline-block fs-5 ms-2 fw-light" >The Campaign →</span><br>
WORLD<br>
MORE HUMAN<br>
                        </h1>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 align-self-end text-end " >
                        <p class="fs-5 colUpAnim" >Our strategy process led to the essence of a powerful calling card for the brand.<br>
                            It took into consideration higher order societal human goals that the company
                            is trying to solve.</p>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-12 col-md-12 col-lg-12" >
                        <ul class="tag_list" >
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Strategy</span>
                            </li>
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Identity</span>
                            </li>
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Digital</span>
                            </li>
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Retail</span>
                            </li>
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Communications</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section >
            <div class="container-fluid g-0" >
                <div class="row" >
                    <div class="col-sm-12 overflow-hidden colUpAnim" >
                        <div class="ratio ratio-21x9" style="transform: scale(1.01);" >
                            <app-player [playCTA]="true" [muteCTA]="true" [autoPlay]="false" videoSrc="projects/images/ever-enviro/ever-enviro-banner-video.mp4" posterSrc="projects/images/ever-enviro/ever-enviro-banner-video.jpg" ></app-player>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container container_space" >
                <div class="row mb-4 mb-lg-5" >
                    <div class="col-sm-12" >
                        <p class="fs-5 mb-0" >Everenviro is a climate services company set up by Eversource (partnership between Everstone & Lightsource). It aims to mitigate pressing environmental problems through businesses focused on circularity, carbon neutrality, waste management & recycling among others.</p>

                    <p class="fs-5 mb-0" >  POV was brought on-board to rebrand Everenviro through a concerted brand strategy exercise that led to architecture clarity, development of its identity, visual language, design systems, positioning & communications, environment/ambient, digital and deliverables.</p>
                    </div>
                </div>

            </div>
        </section>
    <section>
        <div class="container-fluid g-0" >
            <div class="row mb-5" >
                <div class="col-sm-12" >
                    <img src="projects/images/ever-enviro/ever-enviro-1.jpg" alt="" class="w-100" >
                </div>
            </div>
            <div class="row mb-5" >
                <div class="col-sm-12" >
                    <img src="projects/images/ever-enviro/ever-enviro-2.jpg" alt="" class="w-100" >
                </div>
            </div>
            <div class="row mb-5" >
                <div class="col-sm-12" >
                       <div class="container" >
                        <h2 class="display-3 fw-bold" >EverEnviro is a<br> pioneer in various types of climate solution businesses</h2>
                       </div>
                </div>
            </div>
            <div class="row mb-5" >
                <div class="col-sm-12" >
                    <img src="projects/images/ever-enviro/ever-enviro-3.jpg" alt="" class="w-100" >
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-12" >
                    <img src="projects/images/ever-enviro/ever-enviro-4.jpg" alt="" class="w-100" >
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container" >
            <div class="row" >
                <div class="col-sm-12 col-md-12 col-lg-8" >
                    <div class="row g-0" >
                         <div class="col-6" >
                            <img src="projects/images/ever-enviro/ever-enviro-grid-1.png" alt="" class="w-100" >
                         </div>
                         <div class="col-6" >
                            <img src="projects/images/ever-enviro/ever-enviro-grid-2.png" alt="" class="w-100" >
                         </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end" >
                <div class="col-sm-12 col-md-12 col-lg-8" >
                    <div class="row g-0" >
                         <div class="col-6" >
                            <img src="projects/images/ever-enviro/ever-enviro-grid-3.png" alt="" class="w-100" >
                         </div>
                         <div class="col-6" >
                            <img src="projects/images/ever-enviro/ever-enviro-grid-4.png" alt="" class="w-100" >
                         </div>
                    </div>
                </div>
            </div>
            <div class="row " >
                <div class="col-sm-12 col-md-12 col-lg-8" >
                    <div class="row g-0" >
                         <div class="col-6" >
                            <img src="projects/images/ever-enviro/ever-enviro-grid-5.png" alt="" class="w-100" >
                         </div>
                         <div class="col-6" >
                            <img src="projects/images/ever-enviro/ever-enviro-grid-6.png" alt="" class="w-100" >
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container container_space" >
            <div class="row g-4 g-lg-5 justify-content-between">
                <div class="col-6 col-md-2" >
                    <img src="projects/images/ever-enviro/ever-enviro-logo-1.png" alt="" class="w-100" >
                </div>
                <div class="col-6 col-md-2" >
                    <img src="projects/images/ever-enviro/ever-enviro-logo-2.png" alt="" class="w-100" >
                </div>
                <div class="col-4 col-md-2" >
                    <img src="projects/images/ever-enviro/ever-enviro-logo-3.png" alt="" class="w-100" >
                </div>
                <div class="col-4 col-md-2" >
                    <img src="projects/images/ever-enviro/ever-enviro-logo-4.png" alt="" class="w-100" >
                </div>
                <div class="col-4 col-md-2" >
                    <img src="projects/images/ever-enviro/ever-enviro-logo-5.png" alt="" class="w-100" >
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid" >
            <div class="row mb-4" >
                <div class="col-sm-12" >
                    <img src="projects/images/ever-enviro/ever-enviro-5.jpg" alt="" class="w-100" >
                </div>
            </div>
        </div>
        </section>
    <section class="text-white bg-dark mb-5" >
        <div class="container container_space" >
            <div class="row" >
                <div class="col-sm-12" >
                    <div class="colUpAnim" >
                    <p class="fs-4" style="color:#FF4800;" >OVERALL BRAND IMPACT</p>
                 </div>
                    <p class="fs-4 mb-0 colUpAnim" >Skechers crossed <span style="color:#FF4800;" >1,000,000 pairs</span>
                        sold for the first time in the Indian 
                       market over the course of our 
                       partnership with the brand. Some of the 
                       properties we innovated continue 
                       to be marquee <span style="color:#FF4800;" >marketing events / IPs</span> for the brand.</p>
                </div>
            </div>
        </div>
        </section>
        <app-browse-all-work></app-browse-all-work>
 
</main>