

<div #videoSection class="video_player" >
    <div class="cta" *ngIf="cta" >
        <span class="p_icon bg-white sm text-primary rounded" (click)="handlePlayPause()" ><i class="pi" [ngClass]="playing? 'pi-pause' : 'pi-play' " ></i></span>
        <span class="p_icon bg-white sm text-primary rounded" (click)="handleMute()" ><i class="pi" [ngClass]="muted? 'pi-volume-up' : 'pi-volume-off' "  ></i></span>
    </div>
    <video #video poster="{{posterSrc}}" class="video" loop playsinline  muted [controls]="false" preload="none">
        <source src="{{videoSrc}}" type="video/mp4" />
    </video>
</div>