
.galleryTiker{
    .swiper-wrapper{
        transition-timing-function:linear;
        text-align: center;
        .swiper-slide {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    }
}


.client_logo{
    width: 100%;
    max-width: 200px;
}
.invertLogo .client_logo{
    filter: invert(1) !important;
} 