<main>
    <section >
        <div class="bg bannerBg" >
            <span class="overlay" style="background-color: rgba(0, 0, 0, 0.1);" ></span>
            <app-slide-show [sliderSlides]="slideAssets" [sliderNavigation]="false" [sliderPagination]="false"
            animStyle="parallax"></app-slide-show>
        </div>
        <div class="container" >
            <div class="row minFit align-items-center" >
                <div class="col-sm-12 text-center" >
                    <h1 class="display-1 text-light headline" >
                       CREATIVITY<br>FOR<br><strong>INFLUENCE</strong>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-secondary" >
        <div class="container-fluid container_space " >
            <div class="row mb-3" >
                <div class="col-sm-12 text-center" >
                    <h2 class="fs-3 fw-semibold colDownAnim " >CLIENTS TICKER</h2>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-12" >
                    <app-clients></app-clients>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container container_space" >
            <div class="row justify-content-center " >
                <div class="col-sm-12 mb-3" >
                    <h3 class="fs-1 fw-light colLeftAnim" >Our f<span class="spot_light" ></span>cus in<br>
                        on the outcomes<br>
                        that brands<br>
                        seek.</h3>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 text-center" >
                    <p class="fs-5 colDownAnim" >We help build brands by bringing together specialist creative disciplines for this purpose.</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <app-parallax-keyword></app-parallax-keyword>
    </section>

    <!-- <section>
        <div class="parallax maxFit" >
           <div class="parallax_bg bg-danger ">
            <-- <app-player videoSrc="media/branding.mp4" posterSrc="media/branding.jpg" ></app-player> --
           </div>
           <div class="parallax_title">
            <div class="titleWrap" >
                <h2 class="title" >Branding</h2>
            </div>
           </div>
           <div class="parallax_bottom_title">
            <div class="titleWrap" >
            <h2 class="title" >Culture</h2>
        </div>
            </div>
        </div>
        <div class="parallax maxFit " >
            <div class="parallax_bg bg-success" >
                <-- <app-player videoSrc="media/advertising.mp4" posterSrc="media/advertising.jpg" ></app-player> --
            </div>
            <div class="parallax_title">
                <div class="titleWrap" >
                <h2 class="title" >Advertising</h2>
            </div>
           </div>
           <div class="parallax_bottom_title">
            <div class="titleWrap" >    
            <h2 class="title" >Art</h2>
            </div>
            </div>
        </div>
        <div class="parallax maxFit " >
            <div class="parallax_bg bg-info" >
                <-- <app-player videoSrc="media/marketing.mp4" posterSrc="media/marketing.jpg" ></app-player> --
            </div>
            <div class="parallax_title">
               <div class="titleWrap" >
                <h2 class="title" >Marketing</h2>
               </div>
           </div>
           <div class="parallax_bottom_title">
            <div class="titleWrap" >
            <h2 class="title" >Luxury</h2>
        </div>
            </div>
        </div>
        <div class="parallax maxFit " >
            <div class="parallax_bg bg-dark" >
                <-- <app-player videoSrc="media/strategy.mp4" posterSrc="media/strategy.jpg" ></app-player> --
            </div>
            <div class="parallax_title">
                <div class="titleWrap" >
                <h2 class="title" >Strategy</h2>
                </div>
           </div>
           <div class="parallax_bottom_title">
            <div class="titleWrap" >
            <h2 class="title" >Films</h2>
                 </div>
            </div>
        </div>
    </section>-->
    <section>
        <div class="container container_space " >
            <div class="row mb-3 justify-content-between align-items-center" >
                <div class="col-sm-12 text-center col-md-auto" >
                    <h2 class="fs-3 fw-semibold text-uppercase " >Selected Works</h2>
                </div>
                <div class="col-sm-12 text-center col-md-auto" >
                    <a href="" class="btn btn-link" >View More <i class="pi pi-arrow-up-right ms-1" ></i></a>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-12" >
                    <div class="parallax_box_rows" >
                        <div class="row align-items-end g-0" >
                            <div class="col col-10 col-md-6" >
                                <div class="ratio ratio-1x1 bg-secondary overflow-hidden " >
                                    <img src="images/projects/skechers.jpg" alt="" class="cover colLeftAnim " > 
                                </div>
                            </div>
                            <div class="col col-2 col-md-6" >
                                <div class="p-3 colDownAnim" >
                                    <h3 class="sm-vert-text fw-normal mb-0 " >SKECHERS</h3>
                                </div>
                            </div>
                         </div>
                         <div class="row align-items-end g-0" >
                            <div class="col col-10 col-md-6" >
                                <div class="ratio ratio-1x1 bg-secondary overflow-hidden " >
                                    <img src="images/projects/kaveri.jpg" alt="" class="cover colRightAnim" >
                                </div>
                            </div>
                            <div class="col col-2 col-md-6" >
                                <div class="p-3 colDownAnim" >
                                    <h3 class="sm-vert-text fw-normal mb-0 " >KAVERI</h3>
                                </div>
                            </div>
                         </div> 
                         <div class="row align-items-end g-0" >
                            <div class="col col-10 col-md-6" >
                                <div class="ratio ratio-1x1 bg-secondary overflow-hidden " >
                                    <img src="images/projects/essence.jpg" alt="" class="cover colLeftAnim" >
                                </div>
                            </div>
                            <div class="col col-2 col-md-6" >
                                <div class="p-3 colDownAnim" >
                                    <h3 class="sm-vert-text fw-normal mb-0 " >ESSENCE</h3>
                                </div>
                            </div>
                         </div> 
                         <div class="row align-items-end g-0" >
                            <div class="col col-10 col-md-6" >
                                <div class="ratio ratio-1x1 bg-secondary overflow-hidden " >
                                    <img src="images/projects/zoi.jpg" alt="" class="cover colRightAnim" >
                                </div>
                            </div>
                            <div class="col col-2 col-md-6" >
                                <div class="p-3 colDownAnim" >
                                    <h3 class="sm-vert-text fw-normal mb-0 " >ZOI</h3>
                                </div>
                            </div>
                         </div> 
                    </div>
                
                </div>
            </div>
        </div>
    </section>
</main>