<main>
    <section style="background-color: antiquewhite;" >
        <div class="bg" >
            <span class="overlay" style="background-color: rgba(0, 0, 0, 0.1);" ></span>
            <app-slide-show [sliderSlides]="slideAssets" [sliderNavigation]="false" [sliderPagination]="false"
            [SliderZoomInOut]="false"></app-slide-show>
        </div>
        <div class="container" >
            <div class="row minFit align-items-center" >
                <div class="col-sm-12 text-center" >
                    <h1 class="display-1 text-light" >
                       <span class="fw-light" >CREATIVITY</span> <br><span class="fw-light" >FOR</span> <br><span class="fw-bold" >INFLUENCE</span>
                    </h1>
                </div>
            </div>
        </div>
    </section>
</main>