

<main>
    <section >
        <div class="bg bannerBg" >
            <span class="overlay" style="background-color: rgba(0, 0, 0, 0.1);" ></span>
            <app-slide-show [sliderSlides]="slideAssets" [sliderNavigation]="false" [sliderPagination]="false"
            animStyle="parallax"></app-slide-show>
        </div>
        <div class="container" >
            <div class="row minFit align-items-center" >
                <div class="col-sm-12 text-start" >
                    <h1 class="display-1 text-light headline mb-0" >
                       CREATIVITY<br>FOR<br><strong>INFLUENCE</strong>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-secondary" >
        <div class="container-fluid py-2 " >
            <div class="row" >
                <div class="col-sm-12" >
                    <app-clients></app-clients>
                </div>
            </div>
        </div>
    </section>
    <section class="outcomes_section" >
        <div class="container container_space" >
            <div class="row justify-content-center " >
                <div class="col-sm-12 mb-4 mb-lg-5" >
                   <h3 class="heading" >
                    <span class="d-inline-block colUpAnim" >Our focus is on the</span> <br><span class="d-inline-block colDownAnim" >outcomes that</span>
                   </h3>
                </div>
                <div class="col-sm-12" >
                    <div class="row" >
                        <div class="col-sm-12 col-md-12 col-lg-6 text-center mb-4 mb-lg-0" >
                            <div class="title" >
                                <p class="colLeftAnim" >
                        We help build<br>
                        brands by<br>
                        bringing together<br>
                        specialist creative<br>
                        disciplines for<br>
                        this purpose.
                                </p>
                                <p class="colLeftAnim" >
                                    <a routerLink="/about" class="btn btn-outline-primary text-uppercase" >More</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 text-end " >
                            <h3 class="keyword " >
                               <span class="brandSeek d-inline-block" >
                                brands<br>seek.</span>
                               </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="z-0" >
        <a routerLink="/ethos" >
            <app-key-features></app-key-features>
        </a>
        <!-- <app-parallax-keyword></app-parallax-keyword> -->
    </section>

    <section>
        <div class="bg-dark stickySelectedWork" >
            <div class="container py-4 " >
                <div class="row justify-content-between align-items-center" >
                    <div class="col-sm-12 text-center col-md-auto" >
                        <h2 class="fs-3 mb-0 mt-1 fw-semibold text-uppercase text-white " >Selected Works</h2>
                    </div>
                    <div class="col-sm-12 text-center col-md-auto" >
                        <a routerLink="/work" class="btn btn-link text-white link" >View More <i class="pi pi-arrow-up-right ms-1" ></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container_space " >
           
            <div class="row" >
                <div class="col-sm-12" >
                    <div class="parallax_box_rows" >
                        <div class="row align-items-end g-0" >
                            <div class="col col-10 col-md-6" >
                                <div class="ratio ratio-1x1 bg-secondary overflow-hidden " >
                                   <a routerLink="/work/choose-greatness" class="clear link opacity-100" ><img src="images/projects/choose-greatness.jpg" srcset="images/projects/choose-greatness.webp" alt="Choose Greatness" class="cover colLeftAnim" > </a>
                                </div>
                            </div>
                            <div class="col col-2 col-md-6" >
                                <div class="p-3 colDownAnim" >
                                    <h3 class="sm-vert-text fw-normal mb-0 " ><a routerLink="/work/choose-greatness" class="clear link opacity-100" >Choose Greatness</a></h3>
                                </div>
                            </div>
                         </div>
                         <div class="row align-items-end g-0" >
                            <div class="col col-10 col-md-6" >
                                <div class="ratio ratio-1x1 bg-secondary overflow-hidden " >
                                    <a routerLink="/work/kaveri" class="clear link opacity-100" ><img src="images/home/projects/kaveri.jpg" srcset="images/home/projects/kaveri.webp" alt="KAVERI" class="cover colRightAnim" ></a>
                                </div>
                            </div>
                            <div class="col col-2 col-md-6" >
                                <div class="p-3 colDownAnim" >
                                    <h3 class="sm-vert-text fw-normal mb-0" ><a routerLink="/work/kaveri" class="clear link opacity-100" >KAVERI</a></h3>
                                </div>
                            </div>
                         </div> 
                         <div class="row align-items-end g-0" >
                            <div class="col col-10 col-md-6" >
                                <div class="ratio ratio-1x1 bg-secondary overflow-hidden " >
                                    <a routerLink="/work/essence" class="clear link opacity-100" ><img src="images/home/projects/essence.jpg" srcset="images/home/projects/essence.webp" alt="essence" class="cover colLeftAnim" ></a>
                                </div>
                            </div>
                            <div class="col col-2 col-md-6" >
                                <div class="p-3 colDownAnim" >
                                    <h3 class="sm-vert-text fw-normal mb-0 " ><a routerLink="/work/essence" class="clear link opacity-100" >ESSENCE</a></h3>
                                </div>
                            </div>
                         </div> 
                         <div class="row align-items-end g-0" >
                            <div class="col col-10 col-md-6" >
                                <div class="ratio ratio-1x1 bg-secondary overflow-hidden " >
                                    <a routerLink="/work/zoi" class="clear link opacity-100" ><img src="images/home/projects/zoi.jpg" srcset="images/home/projects/zoi.webp" alt="ZOI" class="cover colRightAnim" ></a>
                                </div>
                            </div>
                            <div class="col col-2 col-md-6" >
                                <div class="p-3 colDownAnim" >
                                    <h3 class="sm-vert-text fw-normal mb-0 "  ><a routerLink="/work/zoi" class="clear link opacity-100" >ZOI</a></h3>
                                </div>
                            </div>
                         </div> 
                    </div>
                
                </div>
            </div>
        </div>
    </section>
</main>