
<main>
    <div class="navSpace" >

    </div>
    <section>
        <div class="container container_space" >
            <div class="row mb-4">
                <div class="col-sm-12">
                    <h1 class="display-3 fw-normal mb-0 colUpAnim">Kaveri</h1>
                    <h3 class="display-6 fw-lighter mb-3 colUpAnim">Everyday Beautiful.</h3>
                    <div class="fs-5 colUpAnim" >
                    <p class="mb-0" >POV was brought on-board to do brand strategy and an identity, visual language and retail design program for the launch of the retail label, Kaveri. The idea was to organise the brand for a larger national and global play.</p>
                </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-12 col-md-12 col-lg-6" >
                    <ul class="tag_list" >
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Strategy</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Digital</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Identity</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Retail</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Communications</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Visual Language</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Publication Design</span>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container container_space pt-0" >
            <div class="row mb-4 mb-lg-5" >
                <div class="col-sm-12" >
                    <div class="img_overlay maxInnerFit" >
                        <span class="vector bgFixed bgRightAlign" style="background-image: url('projects/images/kaveri/kaveri-vector.png');" ></span>
                        <img src="projects/images/kaveri/kaveri-banner.jpg" alt="" class="cover colUpAnim" >
                    </div>
                </div>
            </div>
            <div class="row gx-lg-5 mb-4 mb-lg-5" >
                <div class="col-sm-12 col-md-12 col-lg-6" >
                   <div class="row h-100" >
                    <div class="col-sm-12 mb-5" >
                        <p class="fs-5 colUpAnim" >The Campaign →</p>
                        <div class="row" >
                            <div class="col-auto mb-5" >
                                <h2 class="display-3 fw-bold lh-small colUpAnim" >
                                    Everyday<br>
                                    Beautiful.</h2>
                            </div>
                            <div class="col-auto align-self-center" >
                                <div class="tripple-heart" >

                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-sm-12 mt-auto" >
                        <img src="projects/images/kaveri/kaveri-brand-bag.jpg" alt="" class="w-100 colUpAnim" >
                    </div>
                   </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6" >
                    <img src="projects/images/kaveri/kaveri-brand-lable.jpg" alt="" class="w-100 colDownAnim" >   
                </div>
            </div>
            <div class="row  mb-4 mb-lg-5" >
                <div class="col-sm-12" >
                   <div class="ratio ratio-21x9 overflow-hidden">
                    <div class="prxZoomIn" >
                        <app-player videoSrc="projects/images/kaveri/kaveri-r-logo.mp4" posterSrc="projects/images/kaveri/kaveri-r-logo.jpg" ></app-player>
                    </div>
                   </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-12" >
                    <p class="fs-5 mb-0" >Kaveri’s design isn’t about ‘big bang’ or epiphany moments. Her design sensibilities lie in the nuances and subtleties of daily life. Built around the voice ‘Everyday Beautiful’, we gave the brand a unique identity & communication form that embraced a global idiom without losing 
                        its Indian roots.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid container_space pt-0 g-0" >
            <div class="row" >
                <div class="col-sm-12" >
                    <div class="palette_marquee"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container  " >
            <div class="row" >
                <div class="col-sm-10" >
                    <div class="img_overlay maxInnerFit" >
                        <span class="vector bgFixed " style="background-image: url('projects/images/kaveri/kaveri-vector.png');" ></span>
                        <img src="projects/images/kaveri/kaveri-2.jpg" alt="" class="cover colRightAnim" >
                    </div>   
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid g-0" >
            <div class="row my-4 my-lg-5" >
                <div class="col-sm-12" >
                    <div class="img_overlay maxInnerFit" >
                        <div class="img_label" >
                            <span class="label prxZoomIn" >
                                Everyday Beautiful
                            </span>
                        </div>
                        <!-- <span class="vector bgFixed opacity-50" style="background-image: url('projects/images/kaveri/heart-vector.png'); background-repeat: repeat; background-size: calc(200px + 55vw);" ></span> -->
                        <img src="projects/images/kaveri/kaveri-everyday-beutiful.jpg" alt="" class="cover" >
                    </div>    
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container" >
            <div class="row mb-4 mb-lg-5 " >
                <div class="col-sm-10" >
                   <p class="fs-5" >We built the brand to be bigger than seasonal considerations.
                    The presentation is all about pieces you want to touch and wear every day.</p>  
                </div>
            </div>
            <div class="row mb-4 mb-lg-5 justify-content-end" >
                <div class="col-sm-10" >
                    <img src="projects/images/kaveri/kaveri-4.jpg" alt="" class="w-100 colLeftAnim" >
                </div>
            </div>
            <div class="row mb-4 mb-lg-5" >
                <div class="col-sm-12 overflow-hidden" >
                    <img src="projects/images/kaveri/kaveri-3.jpg" alt="" class="cover prxZoomOut" >
                </div>
            </div>
        </div>
    </section>
    <section style="background-color: #938784" class="text-white mb-5" >
        <div class="container container_space" >
            <div class="row" >
                <div class="col-sm-12" >
                    <div class="colUpAnim" >
                    <p class="opacity-75 fs-4 " >OVERALL BRAND IMPACT</p>
                 </div>
                    <p class="fs-4 mb-0 colUpAnim" style="color: #D1B980;" >Our work gave the brand a sophisticated and versatile program to create a national and global play.
                        It continues to make strides in a sea of undifferentiated fashion labels.</p>
                </div>
            </div>
        </div>
        </section>
</main>
