<div class="parallaxKeywordSection" >
    <div class="parallaxKeyword" >
        <div class="bg"><app-player videoSrc="media/branding.mp4" posterSrc="media/branding.jpg" ></app-player></div>
        <div class="container" >
            <div class="parallax_title">
                <h2 class="title" >Branding</h2>
           </div>
           <div class="parallax_bottom_title">
           
            <h2 class="title" >Culture</h2>
            </div>
        </div>
    </div>
    <div class="parallaxKeyword" >
        <div class="bg"><img src="images/home/banner-2.jpg" alt="" ></div>
        <div class="title" >
            Test 2
        </div>
    </div>

</div>