
<main>
     <!-- <div class="navSpace" ></div> -->
     <section class="maxFit" >
        <!-- <app-work-banner bannerImg="projects/images/zoi/zoi-banner.jpg" title="zoi"  ></app-work-banner> -->
        <app-player videoSrc="projects/images/zoi/zoi-logo-vid.mp4" posterSrc="projects/images/zoi/zoi-logo-vid.jpg" [autoPlay]="true" [muteCTA]="false" ></app-player>
    </section>
    <section>
        <div class="container container_space" >
            <div class="row mb-4">
                <div class="col-sm-12">
                    <h1 class="display-3 fw-normal mb-0 colUpAnim">Zoi</h1>
                    <h3 class="display-6 fw-lighter mb-3 colUpAnim">Restobar</h3>
                    <div class="fs-5 colUpAnim" >
                    <p class="mb-0" >Zoi offers curated global F&B experiences, blending unique gastronomy and mixology for the evolved Indian palette. Mixed into the experiences are immersive performances, live gigs, and more. Inspired by the Greek word for ‘Life’, we approached the engagement from the perspective of creating a brand that was visually delectable and contemporary. </p>
                </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-12 col-md-12 col-lg-12" >
                    <ul class="tag_list" >
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Branding</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Identity</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Digital</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Outdoor</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Communications</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Strategy</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Visual Language</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Publication Design</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Spatial Design</span>
                        </li>
                        <li class="colUpAnim" >
                            <span class="tag starCursor" >Advertising</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section >
        <div class="container-fluid g-0" >
            <div class="row mb-3" >
                <div class="col-sm-12 maxInnerFit" >
                    <app-player videoSrc="projects/images/zoi/zoi-logo-vid.mp4" posterSrc="projects/images/zoi/zoi-logo-vid.jpg" ></app-player>
                </div>
            </div>
            <div class="row gx-0" >
                <div class="col-sm-12 col-md-6" >
                    <img src="projects/images/zoi/zoi-color-logo.jpg" alt="" class="w-100" >
                </div>
                <div class="col-sm-12 col-md-6" >
                    <img src="projects/images/zoi/zoi-color-pallet.jpg" alt="" class="w-100" >
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container container_space" >
            <div class="row gx-lg-5 mb-4 mb-lg-5" >
                <div class="col-sm-12 col-md-6 order-1 order-md-0" >
                    <div class="ratio ratio-1x1 overflow-hidden revealLeftAnim" >
                        <img src="projects/images/zoi/zoi-means-life.jpg" alt="" class="cover" >
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 py-4 order-0 order-md-1" >
                    <h3 class="fw-lighter prxTopToBottom prxStopMd" ><strong class="fw-semibold" >Zoi means life.</strong><br>
                        We are interpreting
                        it as a place where
                        life thrives in joyous forms.</h3>
                </div>
            </div>
            <div class="row justify-content-end  mb-4 mb-lg-5" >
                <div class="col-sm-8 col-lg-7 " >
                    <img src="projects/images/zoi/zoi-dining.jpg " alt="" class="cover" >
                </div>
            </div>
            <div class="row g-lg-5 mb-4 mb-lg-5" >
                <div class="col-6 col-md-4 mb-4 mb-md-0" >
                    <div class="ratio ratio-1x1 revealLeftAnim" >
                        <img src="projects/images/zoi/zoi-gallery-1.jpg" alt="" class="cover" >
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-4 mb-md-0" >
                    <div class="ratio ratio-1x1 " >
                        <img src="projects/images/zoi/zoi-gallery-2.jpg" alt="" class="cover" >
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-4 mb-md-0" >
                    <div class="ratio ratio-1x1 revealRightAnim" >
                        <img src="projects/images/zoi/zoi-gallery-3.jpg" alt="" class="cover" >
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-4 mb-md-0" >
                    <div class="ratio ratio-1x1 revealLeftAnim" >
                        <img src="projects/images/zoi/zoi-gallery-4.jpg" alt="" class="cover" >
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-4 mb-md-0" >
                    <div class="ratio ratio-1x1 " >
                        <img src="projects/images/zoi/zoi-gallery-5.jpg" alt="" class="cover" >
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-4 mb-md-0" >
                    <div class="ratio ratio-1x1 revealRightAnim" >
                        <img src="projects/images/zoi/zoi-gallery-6.jpg" alt="" class="cover" >
                    </div>
                </div>
            </div>
            <div class="row justify-content-center g-0 mb-4 mb-lg-5" >
                <div class="col-auto" >
                    <p class="fs-5 mb-4" >The Campaign →</p>
                </div>
                <div class="col-auto" >
                    <img src="projects/images/zoi/high-on-life.png" alt="" style="max-width: calc(200px + 14vw);" >
                </div>
            </div>
            <div class="row gx-0 gx-lg-5 mb-4 mb-lg-5" >
                <div class="col-4 revealUpAnim" >
                    <img src="projects/images/zoi/hear-the-notes-of-life.jpg" alt="" class="w-100 " >
                </div>
                <div class="col-4 revealDownAnim" >
                    <img src="projects/images/zoi/feel-the-thrills-of-life.jpg" alt="" class="w-100" >
                </div>
                <div class="col-4 revealUpAnim" >
                    <img src="projects/images/zoi/smell-the-aromas-of-life.jpg" alt="" class="w-100" >
                </div>
            </div>
            <div class="row mb-4 mb-lg-5" >
                <div class="col-6 prxLeftToRight" >
                    <img src="projects/images/zoi/blends-of-life.jpg" alt="" class="w-100" >
                </div>
            </div>
            <div class="row mb-4 mb-lg-5" >
                <div class="col-12" >
                    <p class="fs-5" >High on Life is a multi-dimensional take on all things that encompass the space. We built not just a high energy communications deck for the brand but also visually styled it for consistency with the overall brand aesthetics.</p>
                </div>
            </div>
            <div class="row mb-4 mb-lg-5 gx-lg-5" >
                <div class="col-sm-12 col-md-4 mb-4 mb-lg-0 revealLeftAnim" >
                    <img src="projects/images/zoi/catch-up-ketchup.jpg" alt="" class="cover" >
                </div>
                <div class="col-sm-12 col-md-8" >
                    <div class="row g-4 g-lg-5 " >
                        <div class="col-6" >
                            <div class="ratio ratio-1x1 " >
                                <img src="projects/images/zoi/dining-gallery-1.jpg" alt="" >
                            </div>
                        </div>
                        <div class="col-6" >
                            <div class="ratio ratio-1x1 revealDownAnim" >
                                <img src="projects/images/zoi/dining-gallery-2.jpg" alt="" >
                            </div>
                        </div>
                        <div class="col-6" >
                            <div class="ratio ratio-1x1 revealDownAnim" >
                                <img src="projects/images/zoi/dining-gallery-3.jpg" alt="" >
                            </div>
                        </div>
                        <div class="col-6" >
                            <div class="ratio ratio-1x1 " >
                                <img src="projects/images/zoi/dining-gallery-4.jpg" alt="" >
                            </div>
                        </div>
                    </div>      
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-12" >
                    <img src="projects/images/zoi/zoi.jpg" alt="" class="cover prxZoomIn" >
                </div>
            </div>
        </div>
    </section>
    <section style="background-color: #224080" class="text-white mb-5" >
        <div class="container container_space" >
            <div class="row" >
                <div class="col-sm-12" >
                    <div class="colUpAnim" >
                    <p class="opacity-75 fs-4 " >OVERALL BRAND IMPACT</p>
                 </div>
                    <p class="fs-4 mb-0 colUpAnim" >Zoi has not only become a verb in its launch geo but it has also paved the path for scaling the brand to both domestic and international locations.</p>
                </div>
            </div>
        </div>
        </section>
</main>
