$primary: #000000;
$secondary: #F7F7F7;
$dark: #000000;
$light:#ffffff;

@import url('https://fonts.cdnfonts.com/css/tt-firs-neue-trl');
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/swiper/swiper-bundle.min.css";
@import "primeicons/primeicons.css";
html{
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
:root{
    --bs-border-color: #c1c1c1
}


body {
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    background-color: $light;
    scroll-behavior: smooth;
    color: $dark;
    ::selection {
        background-color: rgba($color: $primary, $alpha: 0.5);
        color: white;
    }
    &.stopScroll{
        overflow: hidden;
    }
}

strong{
    font-weight: 700;
}

.navigationBar{
    height: 80px;
    background-color:transparent;
    color: $dark;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    .hamburger{
        width: 46px;
        height: 46px;
        border: none;
        box-shadow: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: $dark;
        color: $light;
        border-radius: 50%;
        .pi{
            transition: transform ease-in-out 0.2s;
        }
        &:hover{
            .pi{
                transform: rotate(90deg);
                transform-origin: center center;
            }
        }
    }
    &.dark{
        background-color: $dark;
        color: $light;
        .hamburger{
            background-color: $light;
            color: $dark;   
        }
    }
    &.light{
        background-color: $light;
        color: $dark;
    }
    &.transToDark{
        background-color: transparent;
        color: $light;
        transition: background-color ease 0.75s, color ease 0.75s;
        .hamburger{
            background-color: $light;
            color: $dark;
            }
        &.fixed{
        background-color: $dark;
       }
       
    }
    &.transToLight{
        background-color: transparent;
        color: $light;
        transition: background-color ease 0.75s, color ease 0.75s;
        .hamburger{
            background-color: $light;
            color: $dark;
            transition: background-color ease 0.75s, color ease 0.75s;
        }
    
       &.fixed{
        background-color: $light;
        color: $dark;
        .hamburger{
            background-color: $dark;
            color: $light;
            }
       }
    }
}

.logo{
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    color: inherit;
    letter-spacing: 1px;
}

.menu{
    position: fixed;
    left: inherit;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 350px;
    height: 100%;
    background-color: rgba($color: $dark, $alpha: 0.7);
    color: $light;
    z-index: 999;
    display: flex;
    background-color: $dark;
    transform: translateX(100%);
    transition: transform cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.3s;
    overflow: hidden;
    padding-top: 80px;
    .close{
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        z-index: 8;
        padding: 0;
    }
    nav{
        width: 100%;
        max-height: 100%;
        text-align: center;
        overflow-y: auto;
        ul{
            display: flex;
            margin: 0 auto;
            padding: 0;
            list-style: none;
            flex-wrap: wrap;
            align-items: flex-start;        
            max-height: 100%;
            li{
                padding: 0.5rem 0;
                width: 100%;

                .menu_link{
                    display: inline-block;
                    color: inherit;
                    width: 100%;
                    text-align: right;
                    font-size: 1.5rem;
                    text-decoration: none;
                    font-weight: 500;
                    padding: 0.15rem 1.5rem;
                    opacity: 0.75;
                    transition: opacity ease 0.2s;
                    &.active{
                        text-decoration: line-through;
                        pointer-events: none;
                    }
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
    &.open{
        transform: translateX(0);
        
      
    }
}

main{
    min-height: calc(100vh - 108px);
}
.navSpace{
    height: 80px;
}


a {
    &.clear {
        text-decoration: none;
        color: inherit;
    }
    &.link{
        opacity: 0.75;
        transition: opacity ease 0.2s;
        &:hover{
            opacity: 1;
        }
    }
    &.btn {
        display: inline-flex;
        align-items: center;
    }
}

button {
    &.clear {
        text-decoration: none;
        color: inherit;
        background-color: transparent;
        border: none;
        padding: inherit;
        text-align: left;
    }
}

.btn-primary,
.btn-secondary,
.btn-check:checked+.btn,
:not(.btn-check)+.btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
    color: var(--bs-white);

    &:hover {
        color: var(--bs-white);
    }
}

.p-ripple{
    &.primary_ripple{
        .p-ink{
            background: rgba($color: $primary, $alpha: 0.5);
        }
    }
    &.secondary_ripple{
        .p-ink{
            background: rgba($color: $secondary, $alpha: 0.5);
        }
    }
}

.btn{
    &.btn-link{
        text-transform: uppercase;
        text-decoration: none;
        padding-left: 0;
        padding-right: 0;
        font-weight: 500;
        position: relative;
        height: auto;
        min-height: 32px;
        overflow: visible;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 20px;
            height: 2px;
            background-color: $secondary;
            transition: width cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
        }
        &:hover{
            &::after{
                width: 100%;
            }
        }
        &:focus, &:focus-visible, &:active{
            color: inherit;
            &:hover{
                color: inherit;
            }
        }
    }
    &.btn-lg{
        &.btn-link{
            padding-left: 0;
            padding-right: 0;
        }  
    }
}


.colUpAnim {
    opacity: 0;
    transform: translateY(40px);
    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    &.visible{
        opacity: 1;
        transform: none;
    }
}
.colDownAnim {
    opacity: 0;
    transform: translateY(-40px);
    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    &.visible{
        opacity: 1;
        transform: none;
    }
}

.colLeftAnim {
    opacity: 0;
    transform: translateX(40px);
    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    &.visible{
        opacity: 1;
        transform: none;
    }
}

.colRightAnim {
    opacity: 0;
    transform: translateX(-40px);
    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    &.visible{
        opacity: 1;
        transform: none;
    }
}

.colRightAnim,.colLeftAnim,.colUpAnim,.colDownAnim{
    &:nth-child(2){
        transition-delay: 0.25s;
    }
    &:nth-child(3){
        transition-delay: 0.5s;
    }
    &:nth-child(4){
        transition-delay: 0.75s;
    }
    &:nth-child(5){
        transition-delay: 1s;
    }
    &:nth-child(6){
        transition-delay: 1.25s;
    }
    &:nth-child(7){
        transition-delay: 1.5s;
    }
}


.container, .container-fluid{
    &.container_space{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}


.footer{
    background-color: $dark;
    color: $light;
    position: relative;
    z-index: 9;
    .logo{
        display: inline-block;
        width: 100%;
        max-width: 400px;
        img{
            width: 100%;
            height: auto;
        }
    }
}

.social_links_list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
    
    li{
        float: left;
        .social_link{
            width: 28px;
            height: 28px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            text-decoration: none;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            color: $dark;
            background-color: $light;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                border:1px solid $light;
                z-index: 0;
                transform:scale(0);
                transition: transform ease-in-out 0.3s;
            }
           
            .pi{
                position: relative;
                z-index: 2;
            }
            &:hover{
                &::before{
                    transform: scale(1);
                }
            }
        }
       
    }
}






.minFit{
    min-height: 100vh!important;
}
.maxFit{
    height:100vh !important;
}

.minInnerFit{
    min-height: calc(100vh - 80px) !important;
}

section{
    position: relative;
    overflow: hidden;
    background-color: $light;
    z-index: 8;
    .bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $secondary;
        z-index: 1;
        .overlay{
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.0);
            pointer-events: none;
            z-index: 1;
        }
    }
    .container{
        position: relative;
        z-index: 2;
    }
}
.parallax{
    position: relative;
    top: 0;
    overflow: hidden;
    z-index: 2;
    .parallax_bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        z-index: 1;
        .overlay{
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.0);
            pointer-events: none;
            z-index: 1;
        }
        .video_player{
            video{
                position: relative;
                top: -100%;
            }
           
        }
    }
    .parallax_title, .parallax_bottom_title{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        padding: 0rem 1rem;
        width: 100%;
        .title{
            font-size: calc(1.625rem + 4.5vw);
            text-transform: uppercase;
            font-weight: 600;
            color: $light;
            transform-origin: left center;
            margin: 0;
            list-style: 0;
        }
    }
    .parallax_bottom_title{
        text-align: right;
        top: inherit;
        left: inherit;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        .title{
            transform: scale(1);
            transform-origin: right center;
        }
    }
}

.p_icon {
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $white;
    color: $white;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
    font-size: 1.15em;
    text-decoration: none;

    i {
        font-size: 1.25em;
    }

    &.rounded {
        border-radius: 50% !important;
    }

    &.hover{
        &:hover{
                background-color: $white;
                color: $black;
            }
    }
    &.cursor_scale {
        cursor: pointer;
        transition: all ease 0.25s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &.xs {
        width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 0.85em;

        i {
            font-size: 0.85em;
        }
    }

    &.sm {
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 1em;

        i {
            font-size: 1em;
        }
    }

    &.md {
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 1.1em;

        i {
            font-size: 1.5em;
        }
    }

    &.lg {
        width: 52px;
        height: 52px;
        line-height: 52px;
        font-size: 1.7em;

        i {
            font-size: 1.7em;
        }
    }

    &.xl {
        width: 62px;
        height: 62px;
        line-height: 62px;
        font-size: 1.5rem;
        .contain{
            width: 75%;
            height: 75%;
            object-fit: contain;
        }
        i {
            font-size: 1.5rem;
        }
    }
}


.spot_light{
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    margin: 0 0.05em;
    
    pointer-events: none;
    
    &::after{
        content:'';
        position: absolute;
        left: 51%;
    top: -0.7em;
    width: 30vw;
    background-image: url(/images/sfot.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 2em;
    opacity: 0.35;
    z-index: -2;
    transform-origin:left 50%;
    animation: rotateSpotlight 10s infinite ease-out 0.2s;
    }
    &::before{
        content: '';
        width: 22px;
        height: 22px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background-color: rgb(238, 238, 238);
        border: 0.08em solid $dark;
        z-index: 2;
    }
}

@keyframes rotateSpotlight {
    0% {
      transform: rotate(0deg) scaleX(1.1);
    }
    25% {
        transform: rotate(90deg) scaleX(0.9);
      }
    50% {
    transform: rotate(180deg) scaleX(0.6);
        }
    75% {
        transform: rotate(270deg) scaleX(0.4);
            }
    100% {
      transform: rotate(360deg) scaleX(1.1);
    }
  }


  .parallax_box_rows{
    .row{
        margin-bottom: 2rem;
        .sm-vert-text{
            transform-origin: 3px;  
            text-align: right;
        }

        &:nth-child(even){
            .sm-vert-text{
                transform-origin: calc(100% - 10px); 
                text-align: left;
            }
            .col{
                &:first-child{
                    order: 1 !important;
                }
                &:last-child{
                    order: 0 !important;
                }
            }
        }
    }

  }

  .cover{
    width: 100% !important;
    height: 100% !important;
    object-fit:  cover !important;
  }

.keyFeatures{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .title{
        font-size: calc(1.5rem + 3.5vw);
        display: inline-block;
        margin-right: 0.5em;
        line-height: 1;
        flex-shrink: 0; 
        font-weight: 300;
        //filter: drop-shadow(5px 0  0 transparent);
        transition: all ease 0.25s;
        cursor: url('/images/cursor.png') 16 16, auto;
    }
    .key_list{
        margin: 0;
        padding: 0;
        display: inline-flex;
        list-style: none;
        overflow-x: auto;
        li{
            float: left;
            width: calc(1.5rem + 3vw);
            height: calc(1.5rem + 3vw);
            background-color: $secondary;
            margin-right: 1vw;
            margin-bottom: 0.5em;
            flex-shrink: 0; 
            overflow: hidden;
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    &:hover{
        .title{
            font-weight: 600;
           // filter: drop-shadow(5px 0  0 $black);
        }
    }
}


.tag_list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem 1.5rem;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    li{
        flex-shrink: 0;
        text-align: center;
        width: 20%;
        .tag{
            display: inline-block;
            padding:0.65rem 1.25rem;
            background-color: $dark;
            border: 1px solid $dark;
            border-radius: 6px;
            color: $light;
            width: 100%;
            transition: all ease-out 0.25s;
            font-weight: 400;
            cursor: url('/images/cursor.png') 16 16, auto;
            &:hover{
                background-color: transparent;
                color: $dark;
            }
        }
    }
}

.povArt{
    width: 80vw;
    min-width: 50%;
    max-width: 650px;
    margin: 0 auto;
    opacity: 1;
    transform-origin: center center;
    .char_o{
        transform: scale(0);
    }
    .char_p{
        transform:translateX(22%);
    }
    .char_v{
        transform:translateX(-20%);
    }
}


@media(min-width: 1200px){
.display-1 {
    font-size: 7rem;
}

.keyFeatures{
    .key_list{
        visibility: hidden;
        pointer-events: none;
        li{
           opacity: 0;
           transition: all ease-out 0.3s;
           transform: translateX(-50px);
           &:nth-child(2){
            transition-delay: 0.15s;
           }
           &:nth-child(3){
            transition-delay: 0.30s;
           }
           &:nth-child(4){
            transition-delay: 0.45s;
           }
           &:nth-child(5){
            transition-delay: 0.60s;
           }
           &:nth-child(6){
            transition-delay: 0.75s;
           }
           &:nth-child(7){
            transition-delay: 0.90s;
           }
           &:nth-child(8){
            transition-delay: 1.05s;
           }
        }
    }
    &:hover{
        .key_list{
            visibility: visible;
            pointer-events: all;
            li{
                opacity: 1;
                transform: translateX(0);
            }
        }
        
    }
}
}

@media(max-width: 768px){
.sm-vert-text{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    transform-origin: calc(100% - 5px);
    text-orientation: mixed;
    &.origin-left{
        transform-origin: 3px;  
    }
    &.origin-right{
        transform-origin: calc(100% - 10px); 
    }
}
.tag_list{
    gap: 1.5rem 1rem;
    li{
        width: 30%;
    }
}
}

