$primary: #000000;
$secondary: #F7F7F7;
$dark: #000000;
$light:#ffffff;

@import url('https://fonts.cdnfonts.com/css/tt-firs-neue-trl');
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/swiper/swiper-bundle.min.css";
@import "primeicons/primeicons.css";
* {
    box-sizing: border-box;
}
:root{
    --bs-border-color: #c1c1c1
}


body {
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    background-color: $light;  
    color: $dark;
    ::selection {
        background-color: rgba($color: $primary, $alpha: 0.5);
        color: white;
    }
}

strong{
    font-weight: 700;
}

.navigationBar{
    height: 80px;
    background-color:transparent;
    color: $light;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    .hamburger{
        width: 46px;
        height: 46px;
        border: none;
        box-shadow: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: $light;
        color: $dark;
        border-radius: 50%;
        .pi{
            transition: transform ease-in-out 0.2s;
        }
        &:hover{
            .pi{
                transform: rotate(90deg);
                transform-origin: center center;
            }
        }
    }
    &.dark{
        background-color: $dark;
        color: $light;
    }
    &.light{
        background-color: $light;
        color: $dark;
        .hamburger{
            background-color: $dark;
            color: $light;
        }
    }
    &.transToDark{
        transition: background-color ease 0.75s, color ease 0.75s;
       &.fixed{
        background-color: $dark;
       }
    }
    &.transToLight{
        transition: background-color ease 0.75s, color ease 0.75s;
        .hamburger{
            transition: background-color ease 0.75s, color ease 0.75s;
        }
        
       &.fixed{
        background-color: $light;
        color: $dark;
        .hamburger{
            background-color: $dark;
            color: $light;
        }
       }
    }
}

.logo{
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    color: inherit;
    letter-spacing: 1px;
}
main{
    min-height: calc(100vh - 108px);
}
.navSpace{
    height: 80px;
}


a {
    &.clear {
        text-decoration: none;
        color: inherit;
    }

    &.btn {
        display: inline-flex;
        align-items: center;
    }
}

button {
    &.clear {
        text-decoration: none;
        color: inherit;
        background-color: transparent;
        border: none;
        padding: inherit;
        text-align: left;
    }
}

.btn-primary,
.btn-secondary,
.btn-check:checked+.btn,
:not(.btn-check)+.btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
    color: var(--bs-white);

    &:hover {
        color: var(--bs-white);
    }
}

.p-ripple{
    &.primary_ripple{
        .p-ink{
            background: rgba($color: $primary, $alpha: 0.5);
        }
    }
    &.secondary_ripple{
        .p-ink{
            background: rgba($color: $secondary, $alpha: 0.5);
        }
    }
}

.btn{
    &.btn-link{
        text-transform: uppercase;
        text-decoration: none;
        padding-left: 0;
        padding-right: 0;
        font-weight: 500;
        position: relative;
        height: auto;
        min-height: 32px;
        overflow: visible;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 20px;
            height: 2px;
            background-color: $secondary;
            transition: width cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
        }
        &:hover{
            &::after{
                width: 100%;
            }
        }
        &:focus, &:focus-visible, &:active{
            color: inherit;
            &:hover{
                color: inherit;
            }
        }
    }
    &.btn-lg{
        &.btn-link{
            padding-left: 0;
            padding-right: 0;
        }  
    }
}


.colUpAnim {
    opacity: 0;
    transform: translateY(40px);
    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    &.visible{
        opacity: 1;
        transform: none;
    }
}
.colDownAnim {
    opacity: 0;
    transform: translateY(-40px);
    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    &.visible{
        opacity: 1;
        transform: none;
    }
}

.colLeftAnim {
    opacity: 0;
    transform: translateX(40px);
    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    &.visible{
        opacity: 1;
        transform: none;
    }
}

.colRightAnim {
    opacity: 0;
    transform: translateX(-40px);
    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    &.visible{
        opacity: 1;
        transform: none;
    }
}

.colRightAnim,.colLeftAnim,.colUpAnim,.colDownAnim{
    &:nth-child(2){
        transition-delay: 0.25s;
    }
    &:nth-child(3){
        transition-delay: 0.5s;
    }
    &:nth-child(4){
        transition-delay: 0.75s;
    }
    &:nth-child(5){
        transition-delay: 1s;
    }
    &:nth-child(6){
        transition-delay: 1.25s;
    }
    &:nth-child(7){
        transition-delay: 1.5s;
    }
}


.container, .container-fuied{
    &.container_space{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}


.footer{
    background-color: $dark;
    color: $light;
    position: relative;
    z-index: 9;
}

.social_links_list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    
    li{
        float: left;
        .social_link{
            width: 38px;
            height: 38px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            text-decoration: none;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            color: inherit;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                border:1px solid $light;
                z-index: 0;
                transform:scale(0);
                transition: transform ease-in-out 0.3s;
            }
           
            .pi{
                position: relative;
                z-index: 2;
            }
            &:hover{
                &::before{
                    transform: scale(1);
                }
            }
        }
       
    }
}






.minFit{
    min-height: 100vh!important;
}
.maxFit{
    height:100vh !important;
}

section{
    position: relative;
    overflow: hidden;
    .bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $secondary;
        z-index: 1;
        .overlay{
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.0);
            pointer-events: none;
            z-index: 1;
        }
    }
    .container{
        position: relative;
        z-index: 2;
    }
}
.parallax{
    position: relative;
    top: 0;
    overflow: hidden;
    z-index: 2;
    .parallax_bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        z-index: 1;
        .overlay{
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.0);
            pointer-events: none;
            z-index: 1;
        }
        .video_player{
            video{
                position: relative;
                top: -100%;
            }
           
        }
    }
    .parallax_title, .parallax_bottom_title{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        padding: 0rem 1rem;
        .title{
            font-size: calc(1.625rem + 4.5vw);
            text-transform: uppercase;
            font-weight: 600;
            color: $light;
            transform: scale(0);
            transform-origin: left center;
            margin: 0;
            list-style: 0;
        }
    }
    .parallax_bottom_title{
        text-align: right;
        top: inherit;
        left: inherit;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: flex-end;
        .title{
            transform: scale(1);
            transform-origin: right center;
        }
    }
}

.p_icon {
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $white;
    color: $white;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
    font-size: 1.15em;
    text-decoration: none;

    i {
        font-size: 1.25em;
    }

    &.rounded {
        border-radius: 50% !important;
    }

    &.hover{
        &:hover{
                background-color: $white;
                color: $black;
            }
    }
    &.cursor_scale {
        cursor: pointer;
        transition: all ease 0.25s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &.xs {
        width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 0.85em;

        i {
            font-size: 0.85em;
        }
    }

    &.sm {
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 1em;

        i {
            font-size: 1em;
        }
    }

    &.md {
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 1.1em;

        i {
            font-size: 1.5em;
        }
    }

    &.lg {
        width: 52px;
        height: 52px;
        line-height: 52px;
        font-size: 1.7em;

        i {
            font-size: 1.7em;
        }
    }

    &.xl {
        width: 62px;
        height: 62px;
        line-height: 62px;
        font-size: 1.5rem;
        .contain{
            width: 75%;
            height: 75%;
            object-fit: contain;
        }
        i {
            font-size: 1.5rem;
        }
    }
}


.spot_light{
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    margin: 0 0.05em;
    
    pointer-events: none;
    
    &::after{
        content:'';
        position: absolute;
        left: 51%;
    top: -0.7em;
    width: 30vw;
    background-image: url(/images/sfot.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 2em;
    opacity: 0.35;
    z-index: -2;
    transform-origin:left 50%;
    animation: rotateSpotlight 10s infinite ease-out 0.2s;
    }
    &::before{
        content: '';
        width: 22px;
        height: 22px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background-color: rgb(238, 238, 238);
        z-index: 2;
    }
}

@keyframes rotateSpotlight {
    0% {
      transform: rotate(0deg) scaleX(1.1);
    }
    25% {
        transform: rotate(90deg) scaleX(0.9);
      }
    50% {
    transform: rotate(180deg) scaleX(0.6);
        }
    75% {
        transform: rotate(270deg) scaleX(0.4);
            }
    100% {
      transform: rotate(360deg) scaleX(1.1);
    }
  }


  .parallax_box_rows{
    .row{
        margin-bottom: 2rem;
        .sm-vert-text{
            transform-origin: 3px;  
            text-align: right;
        }

        &:nth-child(even){
            .sm-vert-text{
                transform-origin: calc(100% - 10px); 
                text-align: left;
            }
            .col{
                &:first-child{
                    order: 1 !important;
                }
                &:last-child{
                    order: 0 !important;
                }
            }
        }
    }

  }

  .cover{
    width: 100% !important;
    height: 100% !important;
    object-fit:  cover !important;
  }

@media(min-width: 1200px){
.display-1 {
    font-size: 7rem;
}
}

@media(max-width: 768px){
.sm-vert-text{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    transform-origin: calc(100% - 5px);
    text-orientation: mixed;
    &.origin-left{
        transform-origin: 3px;  
    }
    &.origin-right{
        transform-origin: calc(100% - 10px); 
    }
}
}

