<main>
    <div class="navSpace"></div>
    <section class="bg-dark" >
        <div class="container-fluid g-0" style="height: 300px;" >
            <div class="row align-items-center h-100 " >
                <div class="col-sm-12 text-center"  >
                    <img src="projects/images/baggit/baggit-logo.svg" alt="" style="max-width: 150px;" >
                </div>
            </div>
        </div>
        </section>
        <section>
            <div class="container container_space " >
                <div class="row mb-4 mb-lg-5 justify-content-between " >
                    <div class="col-sm-12 col-md-12 col-lg-6 " >
                        <h1 class="display-1 fw-bold mb-0 colLeftAnim " >
                            PLAY<br>

                            THE LIFE <br>
                            GAME <span class="d-inline-block fs-5 ms-2 fw-light" >The Campaign →</span><br>
                        </h1>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3 align-self-end text-end " >
                        <p class="fs-5 colUpAnim" >This was an exercise in reinforcing Baggit’s credentials as a fashion accessories brand. A brand that provides its audiences a platform where they can ‘play’ any part they want. Through life’s twists, turns, glories and shortcomings, Baggit is an ally for our audience when they want to express themselves.</p>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-12 col-md-12 col-lg-12" >
                        <ul class="tag_list bordered" >
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Strategy</span>
                            </li>
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Identity</span>
                            </li>
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Digital</span>
                            </li>
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Retail</span>
                            </li>
                            <li class="colUpAnim" >
                                <span class="tag starCursor" >Communications</span>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section >
            <div class="container-fluid g-0" >
                <div class="row" >
                    <div class="col-sm-12 overflow-hidden" >
                        <img src="projects/images/baggit/baggit-1.jpg" alt="" class="w-100 prxZoomIn" >
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container container_space" >
                <div class="row" >
                    <div class="col-sm-12" >
                        <p class="fs-5 mb-0" >In a day and age where a core idea as the foundational pillar on which brands are built seem irrelevant, our re-positioning for Baggit not only helped reinvigorate the brand but also paved the way for long term relevance. The #PlayTheLifeGame idea has not only helped trigger multiple hero campaigns but also became the basis for a larger creative and content effort for the brand. Most importantly, it helped meet the core objective of the exercise: helped re-launch Baggit as a fashion brand.</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container-fluid g-0" >
                <div class="row g-3" >
                    <div class="col-6 col-md-4" >
                        <img src="projects/images/baggit/baggit-play-1.jpg" alt="" class="w-100" >
                    </div>
                    <div class="col-6 col-md-4" >
                        <img src="projects/images/baggit/baggit-play-2.jpg" alt="" class="w-100" >
                    </div>
                    <div class="col-12 col-md-4" >
                        <img src="projects/images/baggit/baggit-play-3.jpg" alt="" class="w-100" >
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container container_space" >
                <div class="row justify-content-center my-5 " >
                    <div class="col-sm-12 col-md-12 col-lg-9" >
                        <img src="projects/images/baggit/baggit-is-fun-fierce.png" alt="" class="w-100" >
                    </div>
                </div>
            </div>
        </section>
        <section >
            <div class="container-fluid g-0" >
                <div class="row" >
                    <div class="col-sm-12 overflow-hidden" >
                        <img src="projects/images/baggit/baggit-2.jpg" alt="" class="w-100 prxZoomOut" >
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container container_space" >
                <div class="row" >
                    <div class="col-sm-12" >
                        <p class="fs-5 mb-0" >During our association with the brand, we supported the brand across multiple touch points including off-line, digital/e-commerce, social, retail/spatial, events, fashion weeks and promo led efforts. It was a full stack that took a holistic view to creative outcomes.</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid g-0" >
                <div class="row mb-5" >
                    <div class="col-sm-12 overflow-hidden" >
                        <img src="projects/images/baggit/baggit-4.jpg" alt="" class="w-100 " >
                    </div>
                </div>
            </div>
        </section>
        <section >
            <div class="container-fluid g-0" >
                <div class="row mb-5" >
                    <div class="col-10 overflow-hidden" >
                        <img src="projects/images/baggit/baggit-5.jpg" alt="" class="w-100 " >
                    </div>
                </div>
                <div class="row justify-content-end mb-5 " >
                    <div class="col-10 overflow-hidden" >
                        <img src="projects/images/baggit/baggit-6.jpg" alt="" class="w-100 " >
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid g-0" >
                <div class="row " >
                    <div class="col-sm-12 overflow-hidden" >
                        <img src="projects/images/baggit/baggit-7.jpg" alt="" class="w-100 " >
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container-fluid container_space g-0" >
                <div class="row " >
                    <div class="col-sm-12 overflow-hidden" >
                        <img src="projects/images/baggit/baggit-8.jpg" alt="" class="w-100 " >
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container-fluid g-0" >
                <div class="row mb-3 " >
                    <div class="col-sm-12 overflow-hidden" >
                        <img src="projects/images/baggit/baggit-9.jpg" alt="" class="w-100 " >
                    </div>
                </div>
            </div>
        </section>
     

        <section>
            <div class="container-fluid g-0" >
                <div class="row g-3 mb-3" >
                    <div class="col-6 col-md-4" >
                        <img src="projects/images/baggit/baggit-play-4.jpg" alt="" class="w-100" >
                    </div>
                    <div class="col-6 col-md-4" >
                        <img src="projects/images/baggit/baggit-play-5.jpg" alt="" class="w-100" >
                    </div>
                    <div class="col-12 col-md-4" >
                        <img src="projects/images/baggit/baggit-play-6.jpg" alt="" class="w-100" >
                    </div>
                </div>
            </div>
        </section>

        <section class="minFit mb-5" style="background-image: url(projects/images/baggit/baggit-11.jpg); background-size: cover; background-position: center top; " >
            <div class="container-fluid g-0 " >
                <div class="row " >
                    <div class="col-sm-12 d-none d-md-block" >
                        <div class="ratio ratio-16x9" ></div>
                    </div>
                    <div class="col-sm-12 d-block d-md-none" >
                        <div class="ratio ratio-1x1" ></div>
                    </div>
                </div>
                <div class="row bg-dark mb-5" >
                    <div class="col-sm-12" >
                        <div class="container container_space">
                            <div class="row" >
                                <div class="col-sm-12 text-white" >
                                    <div class="colUpAnim" >
                                    <p class="fs-4" style="color:#FF4800;" >OVERALL BRAND IMPACT</p>
                                 </div>
                                    <p class="fs-4 mb-0 colUpAnim" >Skechers crossed <span style="color:#FF4800;" >1,000,000 pairs</span>
                                        sold for the first time in the Indian 
                                       market over the course of our 
                                       partnership with the brand. Some of the 
                                       properties we innovated continue 
                                       to be marquee <span style="color:#FF4800;" >marketing events / IPs</span> for the brand.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

 
        <app-browse-all-work></app-browse-all-work>
 
</main>